/*預設*/
body {
  font-family: monospace, Arial, Helvetica, sans-serif, "微軟正黑體";
}
ul {
  margin: 0;
  padding: 0;
}
.ball_title {
  margin: 0 0 0 8px;
  /*上方功能選單區*/
  /*標題名稱*/
}
.ball_title .bt_func {
  /*沒有資訊的標頭*/
}
.ball_title .bt_func > div {
  height: 24px;
  background: #EAEAEA;
  margin: 0 1px 0 0;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.ball_title .bt_func > div > span {
  line-height: 24px;
  font-size: 0.8rem;
  color: #000;
  padding: 0 5px;
}
.ball_title .bt_func > div:hover {
  background: #626C75;
}
.ball_title .bt_func > div:hover span {
  color: #fff;
}
.ball_title .bt_func .btf_none {
  height: 15px;
}
.ball_title .bt_func .bt_btn01 {
  width: 60px;
}
.ball_title .bt_func .bt_btn02 {
  width: 165px;
}
.ball_title .bt_func .bt_btn02 .btn02_center {
  margin: 0 auto;
  width: 135px;
  position: relative;
}
.ball_title .bt_func .bt_btn02 .btn02_center span:nth-child(1) {
  position: absolute;
  line-height: 24px;
  font-size: 0.8rem;
  color: #000;
  top: 0px;
  left: 10px;
}
.ball_title .bt_func .bt_btn02 .btn02_center span:nth-child(2) {
  position: absolute;
  line-height: 24px;
  font-size: 0.8rem;
  color: #ff0000;
  top: 0px;
  left: 110px;
}
.ball_title .bt_func .bt_btn02 .btn02_center i {
  position: absolute;
  top: -1px;
  left: 75px;
  color: #000;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.ball_title .bt_func .bt_btn02:hover {
  background: #EAEAEA;
}
.ball_title .bt_func .bt_btn02:hover .btn02_center i {
  top: 1px;
  color: #008AFF;
}
.ball_title .bt_func .bt_btn03 {
  /* width: 125px;
			position: relative;
			i{
				position: absolute;
				top: 2px;
				left: 20px;
				font-size: 1.2rem;
				.transition ( all 500ms ease);
				.transform ( translateY(0));
				&:hover {
					color: #ff0000;
					.transform ( rotate(90deg));
				}
			}
			span.nextpage {
				position: absolute;
				color: #000;
				top: 0px;
				left: 58px;
				color: #000;
				&:hover {
					color: #008AFF;
				}
			}
			&:hover {
				background: #EAEAEA;
				i {}
				span {}
			} */
}
.ball_title .bt_func .bt_btn04 {
  width: 222px;
}
.ball_title .bt_func .bt_btn04:hover {
  background: #EAEAEA;
}
.ball_title .bt_func .bt_btn05 {
  width: 100px;
}
.ball_title .bt_func .bt_btn06 {
  width: 110px;
  position: relative;
}
.ball_title .bt_func .bt_btn06 span {
  position: absolute;
  left: 35px;
}
.ball_title .bt_func .bt_btn06 i {
  position: absolute;
  left: 10px;
}
.ball_title .bt_func .bt_btn06:hover i {
  color: #fff;
}
.ball_title .bt_func .bt_btn07 {
  width: 110px;
  position: relative;
}
.ball_title .bt_func .bt_btn07 span {
  position: absolute;
  left: 35px;
}
.ball_title .bt_func .bt_btn07 i {
  position: absolute;
  left: 10px;
}
.ball_title .bt_func .bt_btn07:hover i {
  color: #fff;
}
.ball_title .bt_func .bt_btn08 {
  width: 120px;
}
.ball_title .bt_func .bt_btn09 {
  width: 120px;
}
.ball_title .bt_name {
  /*下方*/
  /* .name_bar02 {
			width: 1000px;
			height: 20px;
			margin: 0 0 0 8px;
			background: rgba(255, 161, 95, 1);
			border-top: 1px solid #fff;
			span {
				font-size: 0.9rem;
				padding: 0 0 0 20px;
				line-height: 20px;
				color: #000;
			}
		} */
}
.ball_title .bt_name .triangle_left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 5px 0;
  border-color: transparent #7a7a7a transparent transparent;
}
.ball_title .bt_name .triangle_left_no {
  width: 20px;
}
.ball_title .bt_name .name_bar01 {
  width: 1000px;
  height: 20px;
  background: #ffa15f;
}
.ball_title .bt_name .name_bar01 span {
  font-size: 0.9rem;
  padding: 0 0 0 20px;
  line-height: 20px;
  color: #000;
}
.ball_title .bt_name .triangle_right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 8px 0px 0;
  border-color: #7a7a7a transparent transparent transparent;
}
.ball_title .bt_name .triangle_right_no {
  width: 20px;
}
