/*預設*/
body {
  font-family: monospace, Arial, Helvetica, sans-serif, "微軟正黑體";
}
ul {
  margin: 0;
  padding: 0;
}
/*走地中表格  ballcontent01.html*/
.ball_content01 {
  /* width: 1016px; */
  margin: 0 0 0 16px;
  /*表格標題*/
  /*內容資訊*/
}
.ball_content01 .bc_title01 {
  width: 1000px;
  /* background: #ccc; */
}
.ball_content01 .bc_title01 > div {
  height: 24px;
  /* background: #51B0FF; */
  background: #E26914;
  border-right: 1px solid #fff;
  text-align: center;
  line-height: 24px;
}
.ball_content01 .bc_title01 > div > span {
  font-size: 0.8rem;
  color: #fff;
}
.ball_content01 .bc_title01 .bct_01 {
  width: 249px;
}
.ball_content01 .bc_title01 .bct_02 {
  width: 125px;
}
.ball_content01 .bc_title01 .bct_03 {
  width: 160px;
}
.ball_content01 .bc_title01 .bct_04 {
  width: 100px;
}
.ball_content01 .bc_title01 .bct_05 {
  width: 110px;
}
.ball_content01 .bc_title01 .bct_06 {
  width: 150px;
}
.ball_content01 .bc_title01 .bct_07 {
  width: 100px;
  border-right: 0px solid #fff;
}
.ball_content01 .bc_info01 {
  width: 1000px;
}
.ball_content01 .bc_info01 > div {
  background: #ffffff;
  border-right: 1px solid #315B77;
  text-align: center;
  line-height: 20px;
  height: 66px;
  box-sizing: content-box;
  padding: 3px 0;
  /*投注按鈕*/
}
.ball_content01 .bc_info01 > div span {
  font-size: 0.9rem;
  /* padding: 0 5px; */
}
.ball_content01 .bc_info01 > div .bci_red > span {
  color: #C50003;
  background: rgba(197, 0, 3, 0);
  cursor: pointer;
  padding: 2px;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.ball_content01 .bc_info01 > div .bci_red > span:hover {
  color: #fff;
  background: rgba(197, 0, 3, 0.7);
}
.ball_content01 .bc_info01 div.left {
  text-align: left;
}
.ball_content01 .bc_info01 div.right {
  text-align: right;
}
.ball_content01 .bc_info01 .bci_01 {
  width: 249px;
}
.ball_content01 .bc_info01 .bci_01 .b01,
.ball_content01 .bc_info01 .bci_01 .b02 {
  padding: 0 0 0 10px;
}
.ball_content01 .bc_info01 .bci_01 i {
  font-size: 1rem;
  padding: 3px 10px 0 0;
  color: #9A9A9A;
  text-shadow: 0px 2px 0px #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.ball_content01 .bc_info01 .bci_01 i:hover {
  color: #C50003;
}
.ball_content01 .bc_info01 .bci_02 {
  width: 125px;
}
.ball_content01 .bc_info01 .bci_02 .b01 {
  padding: 0 0 0 10px;
}
.ball_content01 .bc_info01 .bci_03 {
  width: 160px;
}
.ball_content01 .bc_info01 .bci_03 .b01 {
  padding: 0 0 0 20px;
}
.ball_content01 .bc_info01 .bci_04 {
  width: 100px;
}
.ball_content01 .bc_info01 .bci_05 {
  width: 110px;
}
.ball_content01 .bc_info01 .bci_06 {
  width: 150px;
}
.ball_content01 .bc_info01 .bci_07 {
  width: 100px;
  border-right: 0px solid #000;
}
/*走地中 結束*/
/*尚未開賽表格  ballcontent02.html*/
.box_shadow .ball_title02 {
  margin: 0 0 0 0px;
}
.box_shadow .ball_title02 .bt_name .name_bar02 {
  width: 1000px;
  height: 20px;
  background: #ffa15f;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 3;
}
.box_shadow .ball_title02 .bt_name .name_bar02 span {
  font-size: 0.9rem;
  padding: 0 0 0 20px;
  line-height: 20px;
  color: #000;
}
.box_shadow .ball_content02 {
  /* width: 1016px; */
  /* margin: 0 0 0 16px; */
  /*表格標題*/
  /*內容資訊*/
}
.box_shadow .ball_content02 .bc_title02 {
  width: 1000px;
  /* background: #ccc; */
}
.box_shadow .ball_content02 .bc_title02 > div {
  height: 24px;
  /* background: #51B0FF; */
  background: #E26914;
  border-right: 1px solid #fff;
  text-align: center;
  line-height: 24px;
}
.box_shadow .ball_content02 .bc_title02 > div > span {
  font-size: 0.8rem;
  color: #fff;
}
.box_shadow .ball_content02 .bc_title02 .bct_01 {
  width: 60px;
}
.box_shadow .ball_content02 .bc_title02 .bct_02 {
  width: 190px;
}
.box_shadow .ball_content02 .bc_title02 .bct_03 {
  width: 125px;
}
.box_shadow .ball_content02 .bc_title02 .bct_04 {
  width: 140px;
}
.box_shadow .ball_content02 .bc_title02 .bct_05 {
  width: 80px;
}
.box_shadow .ball_content02 .bc_title02 .bct_06 {
  width: 70px;
}
.box_shadow .ball_content02 .bc_title02 .bct_07 {
  width: 100px;
}
.box_shadow .ball_content02 .bc_title02 .bct_08 {
  width: 130px;
}
.box_shadow .ball_content02 .bc_title02 .bct_09 {
  width: 90px;
}
.box_shadow .ball_content02 .bc_title02 .bct_10 {
  width: 50px;
  border-right: 0px solid #fff;
}
.box_shadow .ball_content02 .bc_info02 {
  width: 1000px;
  background: #ffffff;
  cursor: pointer;
}
.box_shadow .ball_content02 .bc_info02 > div {
  border-right: 1px solid #315B77;
  text-align: center;
  line-height: 20px;
  height: 66px;
  box-sizing: content-box;
  padding: 3px 0;
  /*投注按鈕*/
}
.box_shadow .ball_content02 .bc_info02 > div span {
  font-size: 0.9rem;
  /* padding: 0 5px; */
}
.box_shadow .ball_content02 .bc_info02 > div .bci_gray > span {
  color: #C30C0E;
  background: rgba(197, 0, 3, 0);
  cursor: pointer;
  padding: 2px;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.box_shadow .ball_content02 .bc_info02 > div .bci_gray > span:hover {
  color: #fff;
  background: rgba(185, 0, 0, 0.7);
}
.box_shadow .ball_content02 .bc_info02:hover {
  background: #F9FFC9;
  box-shadow: inset 0px 0px 6px 3px rgba(0, 0, 0, 0.5);
}
.box_shadow .ball_content02 .bc_info02 div.left {
  text-align: left;
}
.box_shadow .ball_content02 .bc_info02 div.right {
  text-align: right;
}
.box_shadow .ball_content02 .bc_info02 .bci_01 {
  width: 60px;
}
.box_shadow .ball_content02 .bc_info02 .bci_02 {
  width: 190px;
}
.box_shadow .ball_content02 .bc_info02 .bci_02 .b01,
.box_shadow .ball_content02 .bc_info02 .bci_02 .b02 {
  padding: 0 0 0 10px;
}
.box_shadow .ball_content02 .bc_info02 .bci_02 i {
  font-size: 1rem;
  padding: 3px 10px 0 0;
  color: #9A9A9A;
  text-shadow: 0px 2px 0px #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.box_shadow .ball_content02 .bc_info02 .bci_02 i:hover {
  color: #C50003;
}
.box_shadow .ball_content02 .bc_info02 .bci_03 {
  width: 125px;
}
.box_shadow .ball_content02 .bc_info02 .bci_03 .b01 {
  padding: 0 0 0 10px;
}
.box_shadow .ball_content02 .bc_info02 .bci_04 {
  width: 140px;
}
.box_shadow .ball_content02 .bc_info02 .bci_05 {
  width: 80px;
}
.box_shadow .ball_content02 .bc_info02 .bci_06 {
  width: 70px;
}
.box_shadow .ball_content02 .bc_info02 .bci_07 {
  width: 100px;
}
.box_shadow .ball_content02 .bc_info02 .bci_08 {
  width: 130px;
}
.box_shadow .ball_content02 .bc_info02 .bci_09 {
  width: 90px;
}
.box_shadow .ball_content02 .bc_info02 .bci_10 {
  width: 50px;
  border-right: 0px solid #fff;
}
.box_shadow .ball_content02 .next {
  background: #f5f5f5;
  cursor: pointer;
}
.box_shadow .ball_content02 .next:hover {
  background: #F9FFC9;
  box-shadow: inset 0px 0px 6px 3px rgba(0, 0, 0, 0.5);
}
/*尚未開賽表格 結束*/
