/*預設*/
body {
  font-family: monospace, Arial, Helvetica, sans-serif, "微軟正黑體";
}
ul {
  margin: 0;
  padding: 0;
}
/*左邊選單區塊*/
.side_group {
  width: 255px;
  /* min-height: 100vh; */
  height: auto;
  /* background: rgba(255, 255, 255, 0.3); */
  /* float:left; */
}
.side_group .game_main {
  /* background: #fff; */
  width: 100%;
  padding: 8px 0;
}
.side_group .game_main .gm_title {
  background: url(../images/game_menu/gm_title.png) no-repeat top center;
  width: 238px;
  height: 55px;
  margin: 0 auto;
}
.side_group .game_main .gm_menu {
  width: 238px;
  height: 454px;
  margin: 8px auto;
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  /*一般區塊*/
  /*按下後區塊*/
}
.side_group .game_main .gm_menu::-webkit-scrollbar {
  width: 2px;
}
.side_group .game_main .gm_menu::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5);
  height: 0px;
}
.side_group .game_main .gm_menu::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
}
.side_group .game_main .gm_menu::-webkit-scrollbar-button {
  background-color: rgba(0, 0, 0, 0.5);
  height: 0px;
}
.side_group .game_main .gm_menu::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.5);
}
.side_group .game_main .gm_menu .gm_menu_btn {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#878e98+1,565d62+2,4e5459+50,474c50+51,3f4347+97,3f4347+98,33373d+99 */
  background: #878e98;
  /* Old browsers */
  background: -moz-linear-gradient(top, #878e98 1%, #565d62 2%, #4e5459 50%, #474c50 51%, #3f4347 97%, #3f4347 98%, #33373d 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #878e98 1%, #565d62 2%, #4e5459 50%, #474c50 51%, #3f4347 97%, #3f4347 98%, #33373d 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #878e98 1%, #565d62 2%, #4e5459 50%, #474c50 51%, #3f4347 97%, #3f4347 98%, #33373d 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#878e98', endColorstr='#33373d', GradientType=0);
  /* IE6-9 */
  height: 30px;
  cursor: pointer;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name {
  position: relative;
  box-shadow: inset 0px -1px 0px 0px #33373d, inset -1px 0px 0px 0px #7c7c7c, inset 0px 1px 0px 0px #878e98;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name:before {
  content: ' ';
  position: absolute;
  height: 100%;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name:after {
  content: ' ';
  position: absolute;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .name_icon {
  background: url(../images/game_menu/menu_icon.png) no-repeat;
  width: 23px;
  height: 23px;
  margin: 3px auto;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .baseball {
  background-position: 0 0;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .basketball {
  background-position: 0 -23px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .soccer {
  background-position: 0 -46px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .volleyball {
  background-position: 0 -69px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .football {
  background-position: 0 -92px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .billiard {
  background-position: 0 -115px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .tennis01 {
  background-position: 0 -138px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .champion01 {
  background-position: 0 -161px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .special {
  background-position: 0 -184px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .champion02 {
  background-position: 0 -207px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .cricket {
  background-position: 0 -230px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .tennis02 {
  background-position: 0 -253px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .iceball {
  background-position: 0 -276px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .count {
  background-position: 0 -299px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .lottery {
  background-position: 0 -322px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .favorite {
  background-position: 0 -345px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name span {
  color: #fff;
  line-height: 30px;
  font-size: 0.9rem;
  text-shadow: 1px 2px 1px #000000;
  letter-spacing: 10px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_number {
  box-shadow: inset 0px -1px 0px 0px #33373d, inset 1px 0px 0px 0px #000000, inset 0px 1px 0px 0px #878e98;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_number .number_bg {
  width: 23px;
  height: 23px;
  border-radius: 23px;
  background: #657180;
  margin: 3px auto;
  box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.6), inset 0px 0px 2px 1px #000000, 0px 0px 0px 2px #545b60;
  text-align: center;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_number .number_bg span {
  color: #fff;
  line-height: 23px;
  font-size: 0.8rem;
  text-shadow: 1px 2px 1px #000000;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#44c6eb+0,30a7e0+100 */
  background: #44c6eb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #44c6eb 0%, #30a7e0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #44c6eb 0%, #30a7e0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #44c6eb 0%, #30a7e0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c6eb', endColorstr='#30a7e0', GradientType=0);
  /* IE6-9 */
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name {
  box-shadow: inset 0px -1px 0px 0px #33373d, inset -1px 0px 0px 0px #92e3ff, inset 0px 1px 0px 0px #caf1ff;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name:before {
  -webkit-animation: gowave 800ms;
  -moz-animation: gowave 800ms;
  animation: gowave 800ms;
}
@-moz-keyframes gowave {
  0% {
    background: rgba(255, 255, 255, 0);
    left: 50%;
    width: 0%;
  }
  50% {
    background: rgba(255, 255, 255, 0.5);
    left: 0%;
    width: 100%;
  }
  100% {
    background: rgba(255, 255, 255, 0);
    left: 0%;
    width: 100%;
  }
}
@-webkit-keyframes gowave {
  0% {
    background: rgba(255, 255, 255, 0);
    left: 50%;
    width: 0%;
  }
  50% {
    background: rgba(255, 255, 255, 0.5);
    left: 0%;
    width: 100%;
  }
  100% {
    background: rgba(255, 255, 255, 0);
    left: 0%;
    width: 100%;
  }
}
@keyframes gowave {
  0% {
    background: rgba(255, 255, 255, 0);
    left: 50%;
    width: 0%;
  }
  50% {
    background: rgba(255, 255, 255, 0.5);
    left: 0%;
    width: 100%;
  }
  100% {
    background: rgba(255, 255, 255, 0);
    left: 0%;
    width: 100%;
  }
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .baseball {
  background-position: -23px 0;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .basketball {
  background-position: -23px -23px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .soccer {
  background-position: -23px -46px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .volleyball {
  background-position: -23px -69px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .football {
  background-position: -23px -92px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .billiard {
  background-position: -23px -115px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .tennis01 {
  background-position: -23px -138px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .champion01 {
  background-position: -23px -161px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .special {
  background-position: -23px -184px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .champion02 {
  background-position: -23px -207px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .cricket {
  background-position: -23px -230px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .tennis02 {
  background-position: -23px -253px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .iceball {
  background-position: -23px -276px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .count {
  background-position: -23px -299px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .lottery {
  background-position: -23px -322px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .favorite {
  background-position: -23px -345px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_number {
  box-shadow: inset 0px -1px 0px 0px #33373d, inset 1px 0px 0px 0px #00538d, inset 0px 1px 0px 0px #caf1ff;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_number .number_bg {
  background: #2a90c9;
  box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.6), inset 0px 0px 2px 1px #032eac, 0px 0px 0px 2px #13b8de;
}
.side_group .game_main .gm_menu .gm_menu_active {
  /*標題active狀態*/
  /*白底選單區塊*/
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in {
  background: #44c6eb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #44c6eb 0%, #30a7e0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #44c6eb 0%, #30a7e0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #44c6eb 0%, #30a7e0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c6eb', endColorstr='#30a7e0', GradientType=0);
  /* IE6-9 */
  height: 30px;
  cursor: pointer;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name {
  position: relative;
  box-shadow: inset 0px -1px 0px 0px #33373d, inset -1px 0px 0px 0px #92e3ff, inset 0px 1px 0px 0px #caf1ff;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name:before {
  content: ' ';
  position: absolute;
  height: 100%;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name:after {
  content: ' ';
  position: absolute;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .name_icon {
  background: url(../images/game_menu/menu_icon.png) no-repeat;
  width: 23px;
  height: 23px;
  margin: 3px auto;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .baseball {
  background-position: -23px 0;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .basketball {
  background-position: -23px -23px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .soccer {
  background-position: -23px -46px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .volleyball {
  background-position: -23px -69px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .football {
  background-position: -23px -92px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .billiard {
  background-position: -23px -115px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .tennis01 {
  background-position: -23px -138px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .champion01 {
  background-position: -23px -161px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .special {
  background-position: -23px -184px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .champion02 {
  background-position: -23px -207px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .cricket {
  background-position: -23px -230px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .tennis02 {
  background-position: -23px -253px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .iceball {
  background-position: -23px -276px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .count {
  background-position: -23px -299px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .lottery {
  background-position: -23px -322px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .favorite {
  background-position: -23px -345px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name span {
  color: #fff;
  line-height: 30px;
  font-size: 1rem;
  text-shadow: 1px 2px 1px #000000;
  letter-spacing: 10px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in:hover .gm_name:before {
  -webkit-animation: gowave 800ms;
  -moz-animation: gowave 800ms;
  animation: gowave 800ms;
}
@-moz-keyframes gowave {
  0% {
    background: rgba(255, 255, 255, 0);
    left: 50%;
    width: 0%;
  }
  50% {
    background: rgba(255, 255, 255, 0.5);
    left: 0%;
    width: 100%;
  }
  100% {
    background: rgba(255, 255, 255, 0);
    left: 0%;
    width: 100%;
  }
}
@-webkit-keyframes gowave {
  0% {
    background: rgba(255, 255, 255, 0);
    left: 50%;
    width: 0%;
  }
  50% {
    background: rgba(255, 255, 255, 0.5);
    left: 0%;
    width: 100%;
  }
  100% {
    background: rgba(255, 255, 255, 0);
    left: 0%;
    width: 100%;
  }
}
@keyframes gowave {
  0% {
    background: rgba(255, 255, 255, 0);
    left: 50%;
    width: 0%;
  }
  50% {
    background: rgba(255, 255, 255, 0.5);
    left: 0%;
    width: 100%;
  }
  100% {
    background: rgba(255, 255, 255, 0);
    left: 0%;
    width: 100%;
  }
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_number {
  box-shadow: inset 0px -1px 0px 0px #33373d, inset 1px 0px 0px 0px #00538d, inset 0px 1px 0px 0px #caf1ff;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_number .number_bg {
  width: 23px;
  height: 23px;
  border-radius: 23px;
  margin: 3px auto;
  text-align: center;
  background: #2a90c9;
  box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.6), inset 0px 0px 2px 1px #032eac, 0px 0px 0px 2px #13b8de;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_number .number_bg span {
  color: #34FFAD;
  line-height: 23px;
  font-size: 0.8rem;
  text-shadow: 1px 2px 1px #000000;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_list {
  background: #fff;
  height: 30px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding: 0 0 0 45px;
  position: relative;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_list i {
  position: absolute;
  top: 5px;
  left: 43px;
  -webkit-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_list span {
  position: absolute;
  left: 70px;
  top: 7px;
  font-size: 0.9rem;
  color: #000;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_list:hover {
  background: #EFEFEF;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_list:hover i {
  left: 50px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_list:hover span {
  color: #0064DB;
  left: 73px;
}
