/*預設*/
@import 'reset.css';
body {
  font-family: monospace, Arial, Helvetica, sans-serif, "微軟正黑體";
}
ul {
  margin: 0;
  padding: 0;
}
/*預設*/
/*背景色*/
.login_bg {
  background: #191b25;
}
/*上方toolbar透明度*/
md-toolbar {
  opacity: 0.5;
}
/*上方*/
.top {
  width: 100%;
  position: fixed;
  /*上方選單*/
  /*上方中間主選單*/
}
.top .top_menu .nav_icon {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}
.top .top_menu .hamburger span {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}
.top .top_menu .hamburger .first {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.top .top_menu .hamburger .second {
  -webkit-transform: translateY(18px);
  -ms-transform: translateY(18px);
  transform: translateY(18px);
}
.top .top_menu .hamburger .third {
  -webkit-transform: translateY(37px);
  -ms-transform: translateY(37px);
  transform: translateY(37px);
}
.top .top_menu .nav_icon:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.top .top_menu .nav_icon:hover span {
  background: #f1fd17;
}
.top .top_menu .nav_icon:hover .first {
  /* .transform ( rotate(45deg) translateY(-6px) translateX(35px));
				width: 60%; */
}
.top .top_menu .nav_icon:hover .second {
  /* .transform ( translateY(29px) translateX(0px)); */
}
.top .top_menu .nav_icon:hover .third {
  /* .transform ( rotate(-45deg) translateY(47px) translateX(-6px));
					    		width: 60%; */
}
.top .top_main_menu {
  top: 0;
}
.top .top_main_menu .main_menu {
  width: 400px;
  font-size: 100%;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  text-align: center;
  /*滑入*/
  /* .menu_ac:hover {
				div::before {
					content: "";
					width: 80px;
					opacity: 0.5;
					border-radius: 5px;
				}
				div::after {}
				span {
					color: #fff;
					display: inherit;
					text-align: center;
				}
				
			} */
}
.top .top_main_menu .main_menu > div {
  float: left;
  font-size: 2rem;
  color: #f1fd17;
  font-family: "微軟正黑體";
  padding: 0 8px;
  cursor: pointer;
  width: 80px;
}
.top .top_main_menu .main_menu .menu_ac {
  overflow: hidden;
  width: 80px;
  height: 50px;
  /* .a1 a div{width: 100px;height: 20px; margin-top: -20px;background:#ccc;    transition: all 0.3s ;}

.a1 a:hover div{margin-top:0; } */
  /* 	div{	
			}
			div::before {
				content: "";
				background: #f1fd17;
				width: 0px;
				height: 50px;
				position: absolute;
				transition: all .5s ease-in-out;
				opacity: 0;
				padding: 0 1%;
				margin-left: -3px;
			}
			div::after {}
			span {
				transition: all .2s linear;
				position: relative;
				font-weight:bold;
				line-height: 50px;
				width: 77px;
				height: 50px;
				padding-left: 3px;
				padding-top: 1px;
			} */
}
.top .top_main_menu .main_menu .menu_ac a {
  color: #f1fd17;
  text-decoration: none;
  width: 80px;
  height: 50px;
  display: inline-block;
}
.top .top_main_menu .main_menu .menu_ac a div {
  width: 80px;
  height: 3rem;
  margin: -4rem 0 14px 0;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  border-bottom: 2px solid #f1fd17;
}
.top .top_main_menu .main_menu .menu_ac a:hover div {
  margin-top: 0;
  color: #fff;
}
/*背景圖*/
md-content.md-default-theme,
md-content {
  background: url(../images/login/web_bg01.jpg) no-repeat center top #191b25;
  background-size: cover;
}
/*登入區塊*/
.login_main {
  -webkit-transition: font-size 0.16s transform 0.23s;
  -ms-transition: font-size 0.16s transform 0.23s;
  transition: font-size 0.16s transform 0.23s;
  /*:hover {}*/
}
.login_main .login_group {
  border: 0px solid #fff;
  /*測試用*/
}
.login_main .login_group .login_box {
  width: 100%;
  /*登入區 左*/
  /*登入區 右*/
}
.login_main .login_group .login_box .log_box01 {
  height: 110px;
}
.login_main .login_group .login_box .log_box01 .user_box {
  margin: 18px 0 -8px 0;
  height: 30px;
  position: relative;
  /* input:focus + label {
						color: #f1fd17;
					} */
}
.login_main .login_group .login_box .log_box01 .user_box label {
  color: #fff;
  font-family: "微軟正黑體";
  /* margin-left: -169px; */
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  margin: -10px 0 0 0;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.login_main .login_group .login_box .log_box01 .user_box input {
  border: transparent;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  border-radius: 0;
  color: #f1fd17;
  padding: 0 0 5px 0;
  width: 100%;
}
.login_main .login_group .login_box .log_box01 .user_box input:focus {
  border-bottom: 2px solid #f1fd17;
  outline: 0;
  color: #fff;
}
.login_main .login_group .login_box .log_box01 .user_box input:focus + label,
.login_main .login_group .login_box .log_box01 .user_box input:valid + label {
  font-size: 1.2rem;
  color: yellow;
  top: -20px;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.login_main .login_group .login_box .log_box01 .pw_box {
  margin: 40px 0 0 0;
  height: 30px;
  position: relative;
}
.login_main .login_group .login_box .log_box01 .pw_box label {
  color: #fff;
  font-size: 1.3rem;
  font-family: "微軟正黑體";
  /* margin-left: -169px; */
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  margin: -10px 0 0 0;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.login_main .login_group .login_box .log_box01 .pw_box input {
  border: transparent;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  border-radius: 0;
  color: #f1fd17;
  padding: 0 0 5px 0;
  width: 100%;
  font-size: 1.6rem;
}
.login_main .login_group .login_box .log_box01 .pw_box input:focus {
  border-bottom: 2px solid #f1fd17;
  outline: 0;
  color: #fff;
}
.login_main .login_group .login_box .log_box01 .pw_box input:valid {
  color: #fff;
}
.login_main .login_group .login_box .log_box01 .pw_box input:focus + label,
.login_main .login_group .login_box .log_box01 .pw_box input:valid + label {
  font-size: 1.1rem;
  color: yellow;
  top: -20px;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.login_main .login_group .login_box .log_box02 {
  margin: 15px 0 0 0;
  width: 100%;
  height: 95px;
}
.login_main .login_group .login_box .log_box02 .check_box01 input[type="checkbox"] {
  display: none;
}
.login_main .login_group .login_box .log_box02 .check_box01 .md-checkbox .md-icon {
  border: 1px solid #fff;
}
.login_main .login_group .login_box .log_box02 .check_box01 .md-checkbox span {
  color: #fff;
  font-size: 1rem;
  font-family: "微軟正黑體";
}
.login_main .login_group .login_box .log_box02 .check_box01 .md-checkbox:hover .md-icon {
  /* background: rgba(241, 253, 23, 0.8); */
}
.login_main .login_group .login_box .log_box02 .login_btn01 {
  margin: 10px 0 0 0;
  overflow: hidden;
  /* position: absolute; */
}
.login_main .login_group .login_box .log_box02 .login_btn01 .btn_group01 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#deec6d+0,dfef5e+23,e2f732+50,e4ff00+97,e2f732+100 */
  background: #deec6d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #deec6d 0%, #dfef5e 23%, #e2f732 50%, #e4ff00 97%, #e2f732 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #deec6d 0%, #dfef5e 23%, #e2f732 50%, #e4ff00 97%, #e2f732 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #deec6d 0%, #dfef5e 23%, #e2f732 50%, #e4ff00 97%, #e2f732 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#deec6d', endColorstr='#e2f732', GradientType=0);
  /* IE6-9 */
  border-bottom: 7px solid #727f05;
  margin: 0 0 0 0;
  padding: 0 27%;
  position: relative;
  border-radius: 0;
  /* width: 100%; */
  height: 40px;
  cursor: pointer;
}
.login_main .login_group .login_box .log_box02 .login_btn01 .btn_group01 > span {
  color: #242a3a;
  font-size: 1rem;
  font-weight: bold;
  font-family: "微軟正黑體";
  position: absolute;
  top: 9px;
  right: 0px;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.login_main .login_group .login_box .log_box02 .login_btn01 .btn_group01 .btn_icon {
  position: absolute;
  top: 3px;
  left: -100%;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.login_main .login_group .login_box .log_box02 .login_btn01 .btn_group01 .btn_icon i {
  position: relative;
  top: 5px;
  opacity: 0;
  -webkit-transition: all 1.5s;
  -ms-transition: all 1.5s;
  transition: all 1.5s;
}
.login_main .login_group .login_box .log_box02 .login_btn01 .btn_group01 .btn_icon span {
  line-height: 6px;
  opacity: 0;
  -webkit-transition: all 1.5s;
  -ms-transition: all 1.5s;
  transition: all 1.5s;
}
.login_main .login_group .login_box .log_box02 .login_btn01 .btn_group01:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebf4ab+0,e7f771+23,e9fc58+50,dafc00+97,e2f732+100 */
  background: #ebf4ab;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ebf4ab 0%, #e7f771 23%, #e9fc58 50%, #dafc00 97%, #e2f732 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ebf4ab 0%, #e7f771 23%, #e9fc58 50%, #dafc00 97%, #e2f732 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ebf4ab 0%, #e7f771 23%, #e9fc58 50%, #dafc00 97%, #e2f732 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebf4ab', endColorstr='#e2f732', GradientType=0);
  /* IE6-9 */
  color: #000;
  /* padding: 0 5%; */
  /* border-bottom: 2px solid #727f05;
							margin: 6px 0 0 0;
							letter-spacing: 2px; */
  /* border-radius: 5px; */
}
.login_main .login_group .login_box .log_box02 .login_btn01 .btn_group01:hover > span {
  right: -100%;
}
.login_main .login_group .login_box .log_box02 .login_btn01 .btn_group01:hover .btn_icon {
  left: 0px;
}
.login_main .login_group .login_box .log_box02 .login_btn01 .btn_group01:hover .btn_icon i {
  opacity: 1;
}
.login_main .login_group .login_box .log_box02 .login_btn01 .btn_group01:hover .btn_icon span {
  line-height: 6px;
  opacity: 1;
}
/*客戶LOGO*/
.partner_box {
  width: 100%;
}
.partner_box .partner_logo {
  background: url(../images/login/partner_logo.png) no-repeat center top;
  background-size: 100% auto;
  width: 400px;
  height: 160px;
}
/*合作廠商LOGO*/
.cooperate_box {
  width: 100%;
}
.cooperate_box .cooperate_logo {
  background: url(../images/login/cooperate_logo.png) no-repeat center top;
  background-size: 100% auto;
  width: 1200px;
  height: 30px;
}
/*RWD */
/*xl (xlarge)*/
@media (min-width: 1920px) {
  .top {
    /*上方選單*/
  }
  .top .top_menu {
    top: 8px;
  }
  .top .top_menu .nav_icon {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  .top .top_menu .nav_icon .first {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .top .top_menu .nav_icon .second {
    -webkit-transform: translateY(18px);
    -ms-transform: translateY(18px);
    transform: translateY(18px);
  }
  .top .top_menu .nav_icon .third {
    -webkit-transform: translateY(37px);
    -ms-transform: translateY(37px);
    transform: translateY(37px);
  }
  .top .top_menu .nav_icon:hover .first {
    -webkit-transform: rotate(45deg) translateY(-6px) translateX(35px);
    -ms-transform: rotate(45deg) translateY(-6px) translateX(35px);
    transform: rotate(45deg) translateY(-6px) translateX(35px);
    width: 60%;
  }
  .top .top_menu .nav_icon:hover .second {
    -webkit-transform: translateY(29px) translateX(0px);
    -ms-transform: translateY(29px) translateX(0px);
    transform: translateY(29px) translateX(0px);
  }
  .top .top_menu .nav_icon:hover .third {
    -webkit-transform: rotate(-45deg) translateY(47px) translateX(-6px);
    -ms-transform: rotate(-45deg) translateY(47px) translateX(-6px);
    transform: rotate(-45deg) translateY(47px) translateX(-6px);
    width: 60%;
  }
  .top .top_menu .hamburger span {
    width: 100%;
    height: 13%;
    background: rgba(241, 253, 23, 0.6);
  }
  .login_main {
    margin: 26% 0 10px 0;
  }
  .login_main .login_group {
    margin: 0 0 0 0%;
  }
  .login_main .login_group .login_box {
    /*登入區 左*/
  }
  .login_main .login_group .login_box .log_box01 {
    padding: 0 3% 0 0;
  }
  .login_main .login_group .login_box .log_box01 .user_box label {
    font-size: 1.3rem;
  }
}
/*lg (large) */
@media (max-width: 1919px) and (min-width: 1280px) {
  .top {
    /*上方選單*/
  }
  .top .top_menu {
    top: 8px;
  }
  .top .top_menu .nav_icon {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  .top .top_menu .nav_icon .first {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .top .top_menu .nav_icon .second {
    -webkit-transform: translateY(18px);
    -ms-transform: translateY(18px);
    transform: translateY(18px);
  }
  .top .top_menu .nav_icon .third {
    -webkit-transform: translateY(37px);
    -ms-transform: translateY(37px);
    transform: translateY(37px);
  }
  .top .top_menu .nav_icon:hover .first {
    -webkit-transform: rotate(45deg) translateY(-6px) translateX(35px);
    -ms-transform: rotate(45deg) translateY(-6px) translateX(35px);
    transform: rotate(45deg) translateY(-6px) translateX(35px);
    width: 60%;
  }
  .top .top_menu .nav_icon:hover .second {
    -webkit-transform: translateY(29px) translateX(0px);
    -ms-transform: translateY(29px) translateX(0px);
    transform: translateY(29px) translateX(0px);
  }
  .top .top_menu .nav_icon:hover .third {
    -webkit-transform: rotate(-45deg) translateY(47px) translateX(-6px);
    -ms-transform: rotate(-45deg) translateY(47px) translateX(-6px);
    transform: rotate(-45deg) translateY(47px) translateX(-6px);
    width: 60%;
  }
  .top .top_menu .hamburger span {
    width: 100%;
    height: 13%;
    background: rgba(241, 253, 23, 0.6);
  }
  .login_main {
    margin: 440px 0 10px 0;
  }
  .login_main .login_group {
    margin: 0 0 0 0%;
  }
  .login_main .login_group .login_box {
    /*登入區 左*/
  }
  .login_main .login_group .login_box .log_box01 {
    padding: 0 5% 0 0;
  }
  .login_main .login_group .login_box .log_box01 .user_box label {
    font-size: 1.2rem;
  }
}
/*md (medium)*/
@media (max-width: 1279px) and (min-width: 960px) {
  .top {
    /*上方選單*/
  }
  .top .top_menu {
    top: 8px;
  }
  .top .top_menu .nav_icon {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  .top .top_menu .nav_icon .first {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .top .top_menu .nav_icon .second {
    -webkit-transform: translateY(18px);
    -ms-transform: translateY(18px);
    transform: translateY(18px);
  }
  .top .top_menu .nav_icon .third {
    -webkit-transform: translateY(37px);
    -ms-transform: translateY(37px);
    transform: translateY(37px);
  }
  .top .top_menu .nav_icon:hover .first {
    -webkit-transform: rotate(45deg) translateY(-6px) translateX(35px);
    -ms-transform: rotate(45deg) translateY(-6px) translateX(35px);
    transform: rotate(45deg) translateY(-6px) translateX(35px);
    width: 60%;
  }
  .top .top_menu .nav_icon:hover .second {
    -webkit-transform: translateY(29px) translateX(0px);
    -ms-transform: translateY(29px) translateX(0px);
    transform: translateY(29px) translateX(0px);
  }
  .top .top_menu .nav_icon:hover .third {
    -webkit-transform: rotate(-45deg) translateY(47px) translateX(-6px);
    -ms-transform: rotate(-45deg) translateY(47px) translateX(-6px);
    transform: rotate(-45deg) translateY(47px) translateX(-6px);
    width: 60%;
  }
  .top .top_menu .hamburger span {
    width: 100%;
    height: 13%;
    background: rgba(241, 253, 23, 0.6);
  }
  .login_main {
    margin: 430px 0 10px 0;
  }
  .login_main .login_group {
    margin: 0 0 0 0%;
  }
  .login_main .login_group .login_box {
    /*登入區 左*/
  }
  .login_main .login_group .login_box .log_box01 {
    padding: 0 5% 0 0;
  }
  .login_main .login_group .login_box .log_box01 .user_box label {
    font-size: 1.1rem;
  }
}
/*sm (small)  */
@media (max-width: 959px) and (min-width: 600px) {
  .top {
    /*上方選單*/
  }
  .top .top_menu {
    top: 8px;
  }
  .top .top_menu .nav_icon {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  .top .top_menu .nav_icon .first {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .top .top_menu .nav_icon .second {
    -webkit-transform: translateY(18px);
    -ms-transform: translateY(18px);
    transform: translateY(18px);
  }
  .top .top_menu .nav_icon .third {
    -webkit-transform: translateY(37px);
    -ms-transform: translateY(37px);
    transform: translateY(37px);
  }
  .top .top_menu .nav_icon:hover .first {
    -webkit-transform: rotate(45deg) translateY(-6px) translateX(35px);
    -ms-transform: rotate(45deg) translateY(-6px) translateX(35px);
    transform: rotate(45deg) translateY(-6px) translateX(35px);
    width: 60%;
  }
  .top .top_menu .nav_icon:hover .second {
    -webkit-transform: translateY(29px) translateX(0px);
    -ms-transform: translateY(29px) translateX(0px);
    transform: translateY(29px) translateX(0px);
  }
  .top .top_menu .nav_icon:hover .third {
    -webkit-transform: rotate(-45deg) translateY(47px) translateX(-6px);
    -ms-transform: rotate(-45deg) translateY(47px) translateX(-6px);
    transform: rotate(-45deg) translateY(47px) translateX(-6px);
    width: 60%;
  }
  .top .top_menu .hamburger span {
    width: 100%;
    height: 13%;
    background: rgba(241, 253, 23, 0.6);
  }
  .login_main {
    margin: 430px 0 10px 0;
  }
  .login_main .login_group {
    margin: 0 0 0 0%;
  }
  .login_main .login_group .login_box {
    /*登入區 左*/
  }
  .login_main .login_group .login_box .log_box01 {
    padding: 0 5% 0 0;
  }
  .login_main .login_group .login_box .log_box01 .user_box label {
    font-size: 1.3rem;
  }
}
/*xs (xsmall) */
@media (max-width: 599px) {
  .top {
    /*上方選單*/
  }
  .top .top_menu {
    top: 8px;
  }
  .top .top_menu .nav_icon {
    width: 36px;
    height: 36px;
    margin: 0px;
  }
  .top .top_menu .nav_icon .first {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .top .top_menu .nav_icon .second {
    -webkit-transform: translateY(12px);
    -ms-transform: translateY(12px);
    transform: translateY(12px);
  }
  .top .top_menu .nav_icon .third {
    -webkit-transform: translateY(24px);
    -ms-transform: translateY(24px);
    transform: translateY(24px);
  }
  .top .top_menu .nav_icon:hover .first {
    -webkit-transform: rotate(45deg) translateY(2px) translateX(28px);
    -ms-transform: rotate(45deg) translateY(2px) translateX(28px);
    transform: rotate(45deg) translateY(2px) translateX(28px);
    width: 70%;
  }
  .top .top_menu .nav_icon:hover .second {
    -webkit-transform: translateY(29px) translateX(0px);
    -ms-transform: translateY(29px) translateX(0px);
    transform: translateY(29px) translateX(0px);
  }
  .top .top_menu .nav_icon:hover .third {
    -webkit-transform: rotate(-45deg) translateY(39px) translateX(-13px);
    -ms-transform: rotate(-45deg) translateY(39px) translateX(-13px);
    transform: rotate(-45deg) translateY(39px) translateX(-13px);
    width: 70%;
  }
  .top .top_menu .hamburger span {
    width: 100%;
    height: 12%;
    background: #f1fd17;
  }
  .login_main {
    margin: 280px 0 20px 0;
  }
  .login_main .login_group {
    margin: 0 0 0 0;
  }
  .login_main .login_group .login_box {
    /*登入區 左*/
  }
  .login_main .login_group .login_box .log_box01 {
    padding: 0 0% 0 0;
  }
  .login_main .login_group .login_box .log_box01 .user_box label {
    font-size: 1.3rem;
  }
}
/*登入頁面*/
/*左邊選單區塊*/
.side_group {
  width: 255px;
  /* min-height: 100vh; */
  height: auto;
  /* background: rgba(255, 255, 255, 0.3); */
  /* float:left; */
}
.side_group .game_main {
  /* background: #fff; */
  width: 100%;
  padding: 8px 0;
}
.side_group .game_main .gm_title {
  background: url(../images/game_menu/gm_title.png) no-repeat top center;
  width: 238px;
  height: 55px;
  margin: 0 auto;
}
.side_group .game_main .gm_menu {
  width: 238px;
  height: 454px;
  margin: 8px auto;
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  /*一般區塊*/
  /*按下後區塊*/
}
.side_group .game_main .gm_menu::-webkit-scrollbar {
  width: 2px;
}
.side_group .game_main .gm_menu::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5);
  height: 0px;
}
.side_group .game_main .gm_menu::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
}
.side_group .game_main .gm_menu::-webkit-scrollbar-button {
  background-color: rgba(0, 0, 0, 0.5);
  height: 0px;
}
.side_group .game_main .gm_menu::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.5);
}
.side_group .game_main .gm_menu .gm_menu_btn {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#878e98+1,565d62+2,4e5459+50,474c50+51,3f4347+97,3f4347+98,33373d+99 */
  background: #878e98;
  /* Old browsers */
  background: -moz-linear-gradient(top, #878e98 1%, #565d62 2%, #4e5459 50%, #474c50 51%, #3f4347 97%, #3f4347 98%, #33373d 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #878e98 1%, #565d62 2%, #4e5459 50%, #474c50 51%, #3f4347 97%, #3f4347 98%, #33373d 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #878e98 1%, #565d62 2%, #4e5459 50%, #474c50 51%, #3f4347 97%, #3f4347 98%, #33373d 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#878e98', endColorstr='#33373d', GradientType=0);
  /* IE6-9 */
  height: 30px;
  cursor: pointer;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name {
  position: relative;
  box-shadow: inset 0px -1px 0px 0px #33373d, inset -1px 0px 0px 0px #7c7c7c, inset 0px 1px 0px 0px #878e98;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name:before {
  content: ' ';
  position: absolute;
  height: 100%;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name:after {
  content: ' ';
  position: absolute;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .name_icon {
  background: url(../images/game_menu/menu_icon.png) no-repeat;
  width: 23px;
  height: 23px;
  margin: 3px auto;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .baseball {
  background-position: 0 0;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .basketball {
  background-position: 0 -23px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .soccer {
  background-position: 0 -46px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .volleyball {
  background-position: 0 -69px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .football {
  background-position: 0 -92px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .billiard {
  background-position: 0 -115px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .tennis01 {
  background-position: 0 -138px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .champion01 {
  background-position: 0 -161px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .special {
  background-position: 0 -184px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .champion02 {
  background-position: 0 -207px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .cricket {
  background-position: 0 -230px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .tennis02 {
  background-position: 0 -253px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .iceball {
  background-position: 0 -276px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .count {
  background-position: 0 -299px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .lottery {
  background-position: 0 -322px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name .icon_box .favorite {
  background-position: 0 -345px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_name span {
  color: #fff;
  line-height: 30px;
  font-size: 0.9rem;
  text-shadow: 1px 2px 1px #000000;
  letter-spacing: 10px;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_number {
  box-shadow: inset 0px -1px 0px 0px #33373d, inset 1px 0px 0px 0px #000000, inset 0px 1px 0px 0px #878e98;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_number .number_bg {
  width: 23px;
  height: 23px;
  border-radius: 23px;
  background: #657180;
  margin: 3px auto;
  box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.6), inset 0px 0px 2px 1px #000000, 0px 0px 0px 2px #545b60;
  text-align: center;
}
.side_group .game_main .gm_menu .gm_menu_btn .gm_number .number_bg span {
  color: #fff;
  line-height: 23px;
  font-size: 0.8rem;
  text-shadow: 1px 2px 1px #000000;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#44c6eb+0,30a7e0+100 */
  background: #44c6eb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #44c6eb 0%, #30a7e0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #44c6eb 0%, #30a7e0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #44c6eb 0%, #30a7e0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c6eb', endColorstr='#30a7e0', GradientType=0);
  /* IE6-9 */
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name {
  box-shadow: inset 0px -1px 0px 0px #33373d, inset -1px 0px 0px 0px #92e3ff, inset 0px 1px 0px 0px #caf1ff;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name:before {
  -webkit-animation: gowave 800ms;
  -moz-animation: gowave 800ms;
  animation: gowave 800ms;
}
@-moz-keyframes gowave {
  0% {
    background: rgba(255, 255, 255, 0);
    left: 50%;
    width: 0%;
  }
  50% {
    background: rgba(255, 255, 255, 0.5);
    left: 0%;
    width: 100%;
  }
  100% {
    background: rgba(255, 255, 255, 0);
    left: 0%;
    width: 100%;
  }
}
@-webkit-keyframes gowave {
  0% {
    background: rgba(255, 255, 255, 0);
    left: 50%;
    width: 0%;
  }
  50% {
    background: rgba(255, 255, 255, 0.5);
    left: 0%;
    width: 100%;
  }
  100% {
    background: rgba(255, 255, 255, 0);
    left: 0%;
    width: 100%;
  }
}
@keyframes gowave {
  0% {
    background: rgba(255, 255, 255, 0);
    left: 50%;
    width: 0%;
  }
  50% {
    background: rgba(255, 255, 255, 0.5);
    left: 0%;
    width: 100%;
  }
  100% {
    background: rgba(255, 255, 255, 0);
    left: 0%;
    width: 100%;
  }
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .baseball {
  background-position: -23px 0;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .basketball {
  background-position: -23px -23px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .soccer {
  background-position: -23px -46px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .volleyball {
  background-position: -23px -69px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .football {
  background-position: -23px -92px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .billiard {
  background-position: -23px -115px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .tennis01 {
  background-position: -23px -138px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .champion01 {
  background-position: -23px -161px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .special {
  background-position: -23px -184px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .champion02 {
  background-position: -23px -207px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .cricket {
  background-position: -23px -230px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .tennis02 {
  background-position: -23px -253px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .iceball {
  background-position: -23px -276px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .count {
  background-position: -23px -299px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .lottery {
  background-position: -23px -322px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_name .icon_box .favorite {
  background-position: -23px -345px;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_number {
  box-shadow: inset 0px -1px 0px 0px #33373d, inset 1px 0px 0px 0px #00538d, inset 0px 1px 0px 0px #caf1ff;
}
.side_group .game_main .gm_menu .gm_menu_btn:hover .gm_number .number_bg {
  background: #2a90c9;
  box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.6), inset 0px 0px 2px 1px #032eac, 0px 0px 0px 2px #13b8de;
}
.side_group .game_main .gm_menu .gm_menu_active {
  /*標題active狀態*/
  /*白底選單區塊*/
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in {
  background: #44c6eb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #44c6eb 0%, #30a7e0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #44c6eb 0%, #30a7e0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #44c6eb 0%, #30a7e0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c6eb', endColorstr='#30a7e0', GradientType=0);
  /* IE6-9 */
  height: 30px;
  cursor: pointer;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name {
  position: relative;
  box-shadow: inset 0px -1px 0px 0px #33373d, inset -1px 0px 0px 0px #92e3ff, inset 0px 1px 0px 0px #caf1ff;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name:before {
  content: ' ';
  position: absolute;
  height: 100%;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name:after {
  content: ' ';
  position: absolute;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .name_icon {
  background: url(../images/game_menu/menu_icon.png) no-repeat;
  width: 23px;
  height: 23px;
  margin: 3px auto;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .baseball {
  background-position: -23px 0;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .basketball {
  background-position: -23px -23px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .soccer {
  background-position: -23px -46px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .volleyball {
  background-position: -23px -69px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .football {
  background-position: -23px -92px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .billiard {
  background-position: -23px -115px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .tennis01 {
  background-position: -23px -138px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .champion01 {
  background-position: -23px -161px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .special {
  background-position: -23px -184px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .champion02 {
  background-position: -23px -207px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .cricket {
  background-position: -23px -230px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .tennis02 {
  background-position: -23px -253px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .iceball {
  background-position: -23px -276px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .count {
  background-position: -23px -299px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .lottery {
  background-position: -23px -322px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name .icon_box .favorite {
  background-position: -23px -345px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_name span {
  color: #fff;
  line-height: 30px;
  font-size: 1rem;
  text-shadow: 1px 2px 1px #000000;
  letter-spacing: 10px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in:hover .gm_name:before {
  -webkit-animation: gowave 800ms;
  -moz-animation: gowave 800ms;
  animation: gowave 800ms;
}
@-moz-keyframes gowave {
  0% {
    background: rgba(255, 255, 255, 0);
    left: 50%;
    width: 0%;
  }
  50% {
    background: rgba(255, 255, 255, 0.5);
    left: 0%;
    width: 100%;
  }
  100% {
    background: rgba(255, 255, 255, 0);
    left: 0%;
    width: 100%;
  }
}
@-webkit-keyframes gowave {
  0% {
    background: rgba(255, 255, 255, 0);
    left: 50%;
    width: 0%;
  }
  50% {
    background: rgba(255, 255, 255, 0.5);
    left: 0%;
    width: 100%;
  }
  100% {
    background: rgba(255, 255, 255, 0);
    left: 0%;
    width: 100%;
  }
}
@keyframes gowave {
  0% {
    background: rgba(255, 255, 255, 0);
    left: 50%;
    width: 0%;
  }
  50% {
    background: rgba(255, 255, 255, 0.5);
    left: 0%;
    width: 100%;
  }
  100% {
    background: rgba(255, 255, 255, 0);
    left: 0%;
    width: 100%;
  }
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_number {
  box-shadow: inset 0px -1px 0px 0px #33373d, inset 1px 0px 0px 0px #00538d, inset 0px 1px 0px 0px #caf1ff;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_number .number_bg {
  width: 23px;
  height: 23px;
  border-radius: 23px;
  margin: 3px auto;
  text-align: center;
  background: #2a90c9;
  box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.6), inset 0px 0px 2px 1px #032eac, 0px 0px 0px 2px #13b8de;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_btn_in .gm_number .number_bg span {
  color: #34FFAD;
  line-height: 23px;
  font-size: 0.8rem;
  text-shadow: 1px 2px 1px #000000;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_list {
  background: #fff;
  height: 30px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding: 0 0 0 45px;
  position: relative;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_list i {
  position: absolute;
  top: 5px;
  left: 43px;
  -webkit-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_list span {
  position: absolute;
  left: 70px;
  top: 7px;
  font-size: 0.9rem;
  color: #000;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_list:hover {
  background: #EFEFEF;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_list:hover i {
  left: 50px;
}
.side_group .game_main .gm_menu .gm_menu_active .gm_menu_list:hover span {
  color: #0064DB;
  left: 73px;
}
/*球類選單*/
/*左邊最新下注區塊*/
.new_list_group {
  width: 255px;
  min-height: 100vh;
  height: auto;
  /*上方按扭區*/
  /*下方資訊區*/
}
.new_list_group .nl_btn_box {
  width: 100%;
  padding: 0px 8px 0 8px;
  height: 37px;
  /*共用按鈕*/
  /*等待中*/
  /*作廢*/
  /*最新注單*/
}
.new_list_group .nl_btn_box .nl_btn {
  padding: 0 6.2%;
  height: 30px;
  background: #ffab41;
  border-bottom: 5px solid #a0661a;
  text-align: center;
  margin: 0 1px;
  line-height: 30px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px 1px #000000;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.new_list_group .nl_btn_box .nl_btn:hover {
  height: 31px;
  line-height: 32px;
  background: #ff9600;
  border-bottom: 5px solid #7f4c0a;
  text-shadow: 1px 2px 1px #000000;
}
.new_list_group .nl_info_box {
  width: 100%;
  height: auto;
  padding: 0 8px;
  /*刷新按鈕*/
  /*注單資訊*/
}
.new_list_group .nl_info_box .nl_refresh {
  text-align: center;
  background: #ff0000;
  height: 22px;
  cursor: pointer;
  position: relative;
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid #AF0000;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.new_list_group .nl_info_box .nl_refresh i {
  position: absolute;
  color: #fff;
  font-size: 0.9rem;
  top: 3px;
  left: 90px;
  transform: rotate(0deg);
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.new_list_group .nl_info_box .nl_refresh span {
  position: absolute;
  color: #fff;
  font-size: 0.9rem;
  top: 0px;
  left: 110px;
}
.new_list_group .nl_info_box .nl_refresh:hover {
  background: #DC1010;
  box-shadow: inset 0px 0px 8px 3px #ff0000;
}
.new_list_group .nl_info_box .nl_refresh:hover i {
  transform: rotate(90deg);
}
.new_list_group .nl_info_box .nl_info {
  width: 100%;
  height: auto;
  padding: 10px 8px 10px 8px;
  background: #fff;
  /* box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, 0.6); */
  box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.3), inset 0px 4px 5px -4px rgba(0, 0, 0, 0.3);
  /*無注單*/
  /*注單列表*/
}
.new_list_group .nl_info_box .nl_info .info_none {
  min-height: 50px;
}
.new_list_group .nl_info_box .nl_info .info_none span {
  font-size: 0.9rem;
  color: #ff0000;
}
.new_list_group .nl_info_box .nl_info .info_new .info_text {
  line-height: 20px;
  font-size: 0.9rem;
}
.new_list_group .nl_info_box .nl_info .info_new .info_text span {
  padding: 0 0 0 5px;
  color: #2031B3;
}
.new_list_group .nl_info_box .nl_info .info_new .info_text span a {
  color: #ff0000;
  padding: 0 5px;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.new_list_group .nl_info_box .nl_info .info_new .info_text:hover a {
  color: #fff;
  background: #C31919;
  text-decoration: none;
}
/*最新下注-即時*/
/*投注區塊*/
.bet_info_group {
  width: 255px;
  min-height: 100vh;
  height: auto;
  background: #3c4044;
}
.bet_info_group .bi_main {
  width: 100%;
  padding: 8px 8px;
  /*投注選項區塊*/
}
.bet_info_group .bi_main .bi_title {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5297d1+0,325c86+30,325c86+100 */
  background: #6277B7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5297d1 0%, #325c86 30%, #325c86 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #5297d1 0%, #325c86 30%, #325c86 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #5297d1 0%, #325c86 30%, #325c86 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5297d1', endColorstr='#325c86', GradientType=0);
  /* IE6-9 */
  height: 42px;
  color: #fff;
  border: 1px solid #7fd4eb;
}
.bet_info_group .bi_main .bi_title h1 {
  width: 90%;
  padding: 0 5%;
  text-align: center;
  line-height: 42px;
}
.bet_info_group .bi_main .bi_box {
  background: #fff;
  /*第1區塊*/
  /*第2區塊*/
  /*第3區塊*/
}
.bet_info_group .bi_main .bi_box .bi_content .bic_info {
  width: 220px;
  padding: 8px;
  background: #EAEAEA;
  margin: 10px auto;
}
.bet_info_group .bi_main .bi_box .bi_content .bic_info h6 {
  font-size: 0.9rem;
}
.bet_info_group .bi_main .bi_box .bi_content .bic_info span {
  font-size: 0.9rem;
  color: #233B84;
}
.bet_info_group .bi_main .bi_box .bi_content .bic_checkbox {
  position: relative;
  margin: 15px 0 15px 0;
}
.bet_info_group .bi_main .bi_box .bi_content .bic_checkbox .checkbox01 {
  height: 30px;
  /*checkbox*/
  /*字的位置*/
}
.bet_info_group .bi_main .bi_box .bi_content .bic_checkbox .checkbox01 .md-checkbox {
  position: absolute;
  left: 190px;
  line-height: 24px;
}
.bet_info_group .bi_main .bi_box .bi_content .bic_checkbox .checkbox01 span {
  position: absolute;
  left: 25px;
  font-size: 0.95rem;
}
.bet_info_group .bi_main .bi_box .bi_content .bic_checkbox .checkbox01 span a {
  text-decoration: none;
  background: #c1d0ff;
  border-bottom: 3px solid #465A96;
  padding: 4px 18px 2px 18px;
  font-size: 0.92em;
  color: #233B84;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.bet_info_group .bi_main .bi_box .bi_content .bic_checkbox .checkbox01 span a:hover {
  background: #759fd4;
  border-bottom: 3px solid #43628A;
  color: #fff;
}
.bet_info_group .bi_main .bi_box .bi_content .bic_checkbox .checkbox01 span p {
  font-size: 1.5rem;
  color: #ff0000;
  line-height: 26px;
  font-weight: bold;
  margin: 0 0 0 15px;
}
.bet_info_group .bi_main .bi_box .bi_count .count_box {
  border-top: 1px solid #9DBEDE;
  background: #F4F4F5;
}
.bet_info_group .bi_main .bi_box .bi_count .count_box span {
  font-size: 0.8rem;
  width: 90px;
  line-height: 34px;
  text-align: center;
}
.bet_info_group .bi_main .bi_box .bi_count .count_box .bic-input {
  padding: 2px 0 0 0;
  margin: 0px;
  height: 30px;
  width: 135px;
}
.bet_info_group .bi_main .bi_box .bi_count .count_box .bic-input input {
  font-size: 0.6rem;
  font-family: "微軟正黑體";
  color: #ff0000;
  background: #fff;
  padding: 0 0 0 5px;
}
.bet_info_group .bi_main .bi_box .bi_btn {
  padding: 10px 28px 10px 29px;
  border-top: 1px solid #9DBEDE;
  /*btn01 END*/
  /*btn02 END*/
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn01 {
  overflow: hidden;
  margin: 0 5px;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn01 .btn_group {
  position: relative;
  background: #9E9E9E;
  border-bottom: 3px solid #3f3f3f;
  height: 30px;
  width: 80px;
  cursor: pointer;
  border-radius: 3px;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn01 .btn_group > span {
  color: #fff;
  position: absolute;
  top: 6px;
  right: 0px;
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn01 .btn_group .btn_icon {
  position: absolute;
  top: 3px;
  left: -100%;
  text-align: center;
  width: 100%;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn01 .btn_group .btn_icon i {
  color: #344371;
  position: relative;
  top: 4px;
  left: 4%;
  opacity: 0;
  font-size: 1rem;
  -webkit-transition: all 1.5s;
  -ms-transition: all 1.5s;
  transition: all 1.5s;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn01 .btn_group .btn_icon span {
  color: #344371;
  font-size: 0.9rem;
  line-height: 26px;
  padding: 0 0 0 5%;
  opacity: 0;
  -webkit-transition: all 1.5s;
  -ms-transition: all 1.5s;
  transition: all 1.5s;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn01 .btn_group:hover {
  background: #C1D0FF;
  border-bottom: 3px solid #344371;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn01 .btn_group:hover > span {
  right: -100%;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn01 .btn_group:hover .btn_icon {
  left: 0px;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn01 .btn_group:hover .btn_icon i {
  opacity: 1;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn01 .btn_group:hover .btn_icon span {
  opacity: 1;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn02 {
  overflow: hidden;
  margin: 0 5px;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn02 .btn_group {
  position: relative;
  background: #D65A5A;
  border-bottom: 3px solid #712828;
  height: 30px;
  width: 80px;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn02 .btn_group > span {
  color: #fff;
  position: absolute;
  top: 6px;
  right: 0px;
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn02 .btn_group .btn_icon {
  position: absolute;
  top: 3px;
  left: -100%;
  text-align: center;
  width: 100%;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn02 .btn_group .btn_icon i {
  color: #fff;
  position: relative;
  top: 4px;
  left: 4%;
  opacity: 0;
  font-size: 1rem;
  -webkit-transition: all 1.5s;
  -ms-transition: all 1.5s;
  transition: all 1.5s;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn02 .btn_group .btn_icon span {
  color: #fff;
  font-size: 0.9rem;
  line-height: 26px;
  padding: 0 0 0 5%;
  opacity: 0;
  -webkit-transition: all 1.5s;
  -ms-transition: all 1.5s;
  transition: all 1.5s;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn02 .btn_group:hover {
  background: #AF2727;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn02 .btn_group:hover > span {
  right: -100%;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn02 .btn_group:hover .btn_icon {
  left: 0px;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn02 .btn_group:hover .btn_icon i {
  opacity: 1;
}
.bet_info_group .bi_main .bi_box .bi_btn .bi_btn02 .btn_group:hover .btn_icon span {
  opacity: 1;
}
/*讓分投注勾選單*/
/* @import 'commons.less'; */
/*預設*/
/* body {
	font-family: monospace,Arial,Helvetica,sans-serif,"微軟正黑體";
	overflow-y: scroll;
    overflow-x: hidden;
} */
/* body {
    background: #000;
} */
.demo_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.demo_bg ul {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  margin: 0;
  padding: 0px;
  height: 100%;
  list-style: none;
}
.demo_bg ul:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  content: " ";
  background: transparent url(../images/demo/pattern.png) repeat top left;
}
.demo_bg ul li {
  width: 100%;
  height: 100%;
  position: absolute;
}
.demo_bg ul li:nth-child(1) span {
  background: url(http://tympanus.net/Tutorials/CSS3FullscreenSlideshow/images/1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.demo_bg ul li:nth-child(2) span {
  background: url(http://tympanus.net/Tutorials/CSS3FullscreenSlideshow/images/2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.demo_bg ul li:nth-child(3) span {
  background: url(http://tympanus.net/Tutorials/CSS3FullscreenSlideshow/images/3.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}
.demo_bg ul li:nth-child(4) span {
  background: url(http://tympanus.net/Tutorials/CSS3FullscreenSlideshow/images/4.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  -webkit-animation-delay: 30s;
  animation-delay: 30s;
}
.demo_bg ul li:nth-child(5) span {
  background: url(http://tympanus.net/Tutorials/CSS3FullscreenSlideshow/images/5.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  -webkit-animation-delay: 40s;
  animation-delay: 40s;
}
.demo_bg ul li span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  opacity: 1;
  z-index: 0;
  /* -webkit-backface-visibility: hidden;
			    -webkit-animation: imageAnimation 36s linear infinite 0s;
			    -moz-animation: imageAnimation 36s linear infinite 0s;
			    -o-animation: imageAnimation 36s linear infinite 0s;
			    -ms-animation: imageAnimation 36s linear infinite 0s;
			    animation: imageAnimation 36s linear infinite 0s; */
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-animation: round 50s linear infinite;
  animation: round 50s linear infinite;
}
@-webkit-keyframes round {
  6% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
    transform: scale(1);
  }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/
    transform: scale(1.1);
  }
  26% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/
    transform: scale(1.2);
  }
}
@keyframes round {
  6% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
    transform: scale(1);
  }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/
    transform: scale(1.1);
  }
  26% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/
    transform: scale(1.2);
  }
}
/*背景輪播*/
/*logo*/
.logo_icon {
  width: 255px;
  background: rgba(225, 225, 225, 0.4);
  padding: 8px 0 0 0;
}
.logo_icon .logo_img {
  height: 55px;
  width: 144px;
  margin: 0 auto;
  background: url(../images/logo/logo.png) no-repeat;
}
/*時區*/
.time_info {
  width: 255px;
  background: rgba(0, 0, 0, 0.3);
  border-top: 1px solid #fff;
}
.time_info div {
  color: #fff;
  font-size: 0.8rem;
  line-height: 20px;
  padding: 0 4%;
}
/*logo+時區區塊*/
.account_info {
  width: 255px;
  position: relative;
}
.account_info .acc_box {
  font-size: 0.9rem;
  padding: 8px 0 0 8px;
}
.account_info .acc_box span {
  color: #C5C5C5;
}
.account_info .acc_box span span {
  color: #fff;
}
.account_info .acc_line {
  background: #ccc;
  width: 1px;
  height: 30px;
  /* margin: 12px 0 0 0; */
  position: absolute;
  right: 80px;
  top: 12px;
}
.account_info .acc_button .acc_btn01 {
  background: #3bb3e0;
  cursor: pointer;
  font-size: 0.9rem;
  color: #fff;
  position: absolute;
  top: 9px;
  right: 10px;
  padding: 5px 15px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 2px #2D2D2D;
}
.account_info .acc_button .acc_btn01:hover {
  color: #013880;
  background: #72D9FF;
  box-shadow: inset 0px 1px 0px #B0E9FF, 0px 5px 0px 0px #156785, 0px 10px 2px #2D2D2D;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.account_info .acc_button .acc_btn01:active {
  top: 12px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 0px #2D2D2D;
  -webkit-transition: all 0s;
  -ms-transition: all 0s;
  transition: all 0s;
}
/*帳戶點數區*/
/*上方-主要大類選單*/
.top_menu01 {
  font-size: 1rem;
  color: #fff;
  height: 43px;
}
.top_menu01 div {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6eb2eb+0,3c9aea+100 */
  background: #6eb2eb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #6eb2eb 0%, #3c9aea 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6eb2eb 0%, #3c9aea 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6eb2eb 0%, #3c9aea 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6eb2eb', endColorstr='#3c9aea', GradientType=0);
  /* IE6-9 */
  -webkit-box-shadow: inset 0px 1px 0px #92CDFF, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #92CDFF, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  -o-box-shadow: inset 0px 1px 0px #92CDFF, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px #92CDFF, 0px 5px 0px 0px #0a3356, 0px 10px 5px rgba(0, 0, 0, 0.15);
  padding: 0 3.8%;
  height: 38px;
  margin: 0 1px 0 0;
  line-height: 38px;
  cursor: pointer;
  /* .transition (height 0.5s, background 0.3s, line-height 0s) */
  -webkit-transition: height 0.3s, background 0.3s, line-height 0.1s;
  -ms-transition: height 0.3s, background 0.3s, line-height 0.1s;
  transition: height 0.3s, background 0.3s, line-height 0.1s;
}
.top_menu01 div:hover {
  height: 43px;
  line-height: 43px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a9dff+0,0069bf+100 */
  background: #2a9dff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2a9dff 0%, #0069bf 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2a9dff 0%, #0069bf 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2a9dff 0%, #0069bf 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a9dff', endColorstr='#0069bf', GradientType=0);
  /* IE6-9 */
  -webkit-box-shadow: inset 0px 1px 0px #92CDFF, 0px 0px 0px 0px #156785, 0px 10px 5px #999;
  -moz-box-shadow: inset 0px 1px 0px #92CDFF, 0px 0px 0px 0px #156785, 0px 10px 5px #999;
  -o-box-shadow: inset 0px 1px 0px #92CDFF, 0px 0px 0px 0px #156785, 0px 10px 5px #999;
  box-shadow: inset 0px 1px 0px #92CDFF, 0px 0px 0px 0px #0a3356, 0px 10px 5px rgba(0, 0, 0, 0.15);
}
/*上方選單區塊*/
/* @import 'commons.less'; */
/*預設*/
body {
  background: #000;
}
/*背景動態*/
.main_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.main_bg ul {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  margin: 0;
  padding: 0px;
  height: 100%;
  list-style: none;
}
.main_bg ul:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  content: " ";
  background: transparent url(../images/demo/pattern.png) repeat top left;
}
.main_bg ul li {
  width: 100%;
  height: 100%;
  position: absolute;
}
.main_bg ul li:nth-child(1) span {
  background: url(http://tympanus.net/Tutorials/CSS3FullscreenSlideshow/images/1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.main_bg ul li:nth-child(2) span {
  background: url(http://tympanus.net/Tutorials/CSS3FullscreenSlideshow/images/2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}
.main_bg ul li:nth-child(3) span {
  background: url(http://tympanus.net/Tutorials/CSS3FullscreenSlideshow/images/3.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}
.main_bg ul li:nth-child(4) span {
  background: url(http://tympanus.net/Tutorials/CSS3FullscreenSlideshow/images/4.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  -webkit-animation-delay: 30s;
  animation-delay: 30s;
}
.main_bg ul li:nth-child(5) span {
  background: url(http://tympanus.net/Tutorials/CSS3FullscreenSlideshow/images/5.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  -webkit-animation-delay: 40s;
  animation-delay: 40s;
}
.main_bg ul li span {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  opacity: 1;
  z-index: 0;
  opacity: 0;
  /*動畫*/
  filter: alpha(opacity=0);
  -webkit-animation: round 50s linear infinite;
  animation: round 50s linear infinite;
}
/*動畫時間*/
@-webkit-keyframes round {
  6% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
    transform: scale(1);
  }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/
    transform: scale(1.1);
  }
  26% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/
    transform: scale(1.2);
  }
}
@keyframes round {
  6% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 0 - 1秒 淡入*/
    transform: scale(1);
  }
  20% {
    opacity: 1;
    filter: alpha(opacity=100);
    /* 1- 5秒靜止*/
    transform: scale(1.1);
  }
  26% {
    opacity: 0;
    filter: alpha(opacity=0);
    /* 5-6秒淡出*/
    transform: scale(1.2);
  }
}
/*背景動態 END*/
/*內容區塊*/
.main_content .main_left {
  height: auto;
  min-height: 100vh;
  position: fixed;
  z-index: 999;
  background: rgba(255, 255, 255, 0.3);
  /*自定義-gamemenu區塊-載入*/
}
.main_content .main_right {
  position: fixed;
  left: 255px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.52);
  height: 63px;
  width: 100%;
}
.main_content .main_right .top {
  padding: 0 0 0 2px;
}
.main_content .main_right .top div marquee {
  font-size: 0.9rem;
  margin: 0 10px;
}
/*內容區塊 END*/
/*內頁主畫面*/
/* .animation (@name; @animation; @styles) {
    -webkit-animation:  @name @animation;
    -moz-animation: @name @animation;
    animation: @name  @animation;

    @-moz-keyframes @name { @styles(); }
    @-webkit-keyframes @name { @styles(); }
    @keyframes @name { @styles(); }
    
} */
/* .animation (@name; @animation; @styles) {
    -webkit-animation:  @animation;
    -moz-animation: @animation;
    animation: @animation;

    @-moz-keyframes @name { @styles(); }
    @-webkit-keyframes @name { @styles(); }
    @keyframes @name { @styles(); }
}
 */
/* html {
	padding: 0;
	

	:hover {
		padding: 5px;

		.animation (
			in-html,
			in-html 5s ,
			{
				0% { 
					padding: 0; 
				}
				20% { 
					padding: 5px; 
				}
				100% {
					padding: 0;
				}
			}

		);

	}



} */
