/*預設*/
body {
  font-family: monospace, Arial, Helvetica, sans-serif, "微軟正黑體";
}
ul {
  margin: 0;
  padding: 0;
}
/*logo*/
.logo_icon {
  width: 255px;
  background: rgba(225, 225, 225, 0.35);
  padding: 8px 0 0 0;
}
.logo_icon .logo_img {
  height: 55px;
  width: 144px;
  margin: 0 auto;
  background: url(../images/logo/logo.png) no-repeat;
}
/*時區*/
.time_info {
  width: 255px;
  background: rgba(0, 0, 0, 0.3);
  border-top: 1px solid #fff;
}
.time_info div {
  color: #fff;
  font-size: 0.8rem;
  line-height: 20px;
  padding: 0 4%;
}
