/*預設*/
body {
  font-family: monospace, Arial, Helvetica, sans-serif, "微軟正黑體";
}
ul {
  margin: 0;
  padding: 30px;
}
/*左邊最新下注區塊*/
.new_list_group {
  width: 255px;
  min-height: 100vh;
  height: auto;
  background: #3c4044;
  /*上方按扭區*/
  /*下方資訊區*/
}
.new_list_group .nl_btn_box {
  width: 100%;
  padding: 8px 8px;
  /*共用按鈕*/
  /*等待中*/
  /*作廢*/
  /*最新注單*/
}
.new_list_group .nl_btn_box .nl_btn {
  padding: 0 6%;
  height: 30px;
  background: #ffab41;
  border-bottom: 5px solid #a0661a;
  text-align: center;
  margin: 0 1px;
  line-height: 30px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}
.new_list_group .nl_info_box {
  /*刷新按鈕*/
  /*注單資訊*/
}
.new_list_group .nl_info_box .nl_info {
  /*無注單*/
  /*注單列表*/
}
