@import 'commons.less';

.account_info {
	width: 254px;
	position: relative;
	.acc_box {
		font-size: 0.9rem;
		padding: 8px 0 0 8px;
		span {
			color: #fff;
			span {
				color: #fff;
			}
		}
	}
	.acc_line {
		background: #AD4500;
		width: 1px;
		height: 30px; 
		/* margin: 12px 0 0 0; */
		position: absolute;
		right: 80px;
		top: 12px;
	}
	.acc_button {
		.acc_btn01 {
			background-color: #f2f2f2;
		    background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2);
		    border: 1px solid #CA5300;
		    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2, 0 2px 4px rgba(0, 0, 0, 0.2);
		    color: #8c8c8c;
		    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		    border-radius: 3px;
		    cursor: pointer;
		    display: inline-block;
		    font-family: Verdana, sans-serif, '微軟正黑體';
		    position: absolute;
		    top: 9px;
		    right: 10px;
		    padding: 0px 14px;
		    line-height: 33px;
		    font-size: 1rem;
		    color: #4C4C4C;
		    font-weight: bold;
			.transition ( all 0.1s);
			/* background: #3bb3e0;
			cursor: pointer;
			font-size: 0.9rem;
			color: #fff;
			position: absolute;
			top: 9px;
			right: 10px;
			padding: 5px 15px;
			box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 2px #2D2D2D; */
			
			&:hover {
				top: 10px;
				background: #FBF2EB;
			    border: 1px solid #F16300;
			    box-shadow: inset 0 1px 2px #4a1e00, inset 0 -1px 0 #FFFFFF, inset 0 0 2px 1px #FFEEDF;
				/* background: #FFF1E5;
			    border:1px solid #983D00;
			    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2; */
			}
			&:active {
				top: 12px;
				box-shadow: inset 0 1px 2px #4a1e00, inset 0 -1px 0 #FFFFFF, inset 0 0 2px 1px #FFEEDF;
				.transition ( all 0.0s );		
			}
		}
	}
	.gm_title {
		/* background: url(../images/game_menu/gm_title.png) no-repeat top center;  */
		background: rgba(0, 0, 0, 0.1);
	    width: 238px;
	    height: 28px;
	    margin: 15px auto 0 auto;
	    text-align: center;
	    border-bottom: 1px solid #FF7800;
    	border-top: 1px solid #A54100;
    	letter-spacing: 2px;
		span {
			color: #FFEAD7;
			line-height: 28px;
			font-size: 0.9rem;
		}
	}
}

