@import 'commons.less';

/*走地中表格  ballcontent01.html*/
.ball_content01 {
	/* width: 1016px; */
	margin: 0 0 0 16px;
	/*表格標題*/
	.bc_title01 {
		width: 1000px;
		/* background: #ccc; */
		>div {
			height: 24px;
			/* background: #51B0FF; */
    		background: #E26914;
			border-right: 1px solid #fff;
			text-align: center;
			line-height: 24px;
			>span {
				font-size: 0.8rem;
				color: #fff;
			}
		}
		.bct_01 {
			width: 249px;
		}
		.bct_02 {
			width: 125px;
		}
		.bct_03 {
			width: 160px;
		}
		.bct_04 {
			width: 100px;
		}
		.bct_05 {
			width: 110px;
		}
		.bct_06 {
			width: 150px;
		}
		.bct_07 {
			width: 100px;
			border-right: 0px solid #fff;
		}
	}
	/*內容資訊*/
	.bc_info01 {
		width: 1000px;
		>div {
			background: rgba(255, 255, 255, 1);
			border-right: 1px solid #315B77;
			text-align: center;
			line-height: 20px;
			height: 66px;
			box-sizing: content-box;
			padding: 3px 0;
			span {
				font-size: 0.9rem;
				/* padding: 0 5px; */
			}
			/*投注按鈕*/
			.bci_red { 
				>span {
					color: #C50003;
					background: rgba(197, 0, 3, 0.0);
					cursor: pointer;
					padding: 2px;
					.transition (all 0.3s);
					&:hover {
						color: #fff;
						background: rgba(197, 0, 3, 0.7);
						
					}
				}
			}
		}
		div.left{
			text-align: left;
		}
		div.right{
			text-align: right;
		}

		.bci_01 {
			width: 249px;
			.b01, .b02 {
				padding: 0 0 0 10px;
			}
			i {
				font-size: 1rem;
				padding: 3px 10px 0 0;
				color: #9A9A9A;
				text-shadow: 0px 2px 0px #fff;
				cursor: pointer;
				.transition (all 0.3s);
				&:hover {
					color: #C50003;
				}
			}
		}
		.bci_02 {
			width: 125px;
			.b01 {
				padding: 0 0 0 10px;
			}
			.b02 {
			}
		}
		.bci_03 {
			width: 160px;
			.b01 {
				padding: 0 0 0 20px;
			}
		}
		.bci_04 {
			width: 100px;
		}
		.bci_05 {
			width: 110px;
		}
		.bci_06 {
			width: 150px;
		}
		.bci_07 {
			width: 100px;
			border-right: 0px solid #000;
		}
	}
}
/*走地中 結束*/












/*尚未開賽表格  ballcontent02.html*/
.box_shadow {
	.ball_title02 {
		margin: 0 0 0 0px;
		.bt_name {
			.name_bar02 {
				width: 1000px;
			    height: 20px;
			    background: #ffa15f;
			    span {
					font-size: 0.9rem;
					padding: 0 0 0 20px;
					line-height: 20px;
					color: #000;
				}
			}
		}
	}
	.ball_content02 {
		/* width: 1016px; */
		/* margin: 0 0 0 16px; */
		/*表格標題*/
		.bc_title02 {
			width: 1000px;
			/* background: #ccc; */
			>div {
				height: 24px;
				/* background: #51B0FF; */
	    		background: #E26914;
				border-right: 1px solid #fff;
				text-align: center;
				line-height: 24px;
				>span {
					font-size: 0.8rem;
					color: #fff;
				}
			}
			.bct_01 {
				width: 60px;
			}
			.bct_02 {
				width: 190px;
			}
			.bct_03 {
				width: 125px;
			}
			.bct_04 {
				width: 140px;
			}
			.bct_05 {
				width: 80px;
			}
			.bct_06 {
				width: 70px;
			}
			.bct_07 {
				width: 100px;
			}
			.bct_08 {
				width: 130px;
			}
			.bct_09 {
				width: 90px;
			}
			.bct_10 {
				width: 50px;
				border-right: 0px solid #fff;
			}
		}
		/*內容資訊*/
		.bc_info02 {
			width: 1000px;
			background: rgba(255, 255, 255, 1);
			cursor: pointer;
			>div {
				border-right: 1px solid #315B77;
				text-align: center;
				line-height: 20px;
				height: 66px;
				box-sizing: content-box;
				padding: 3px 0;
				span {
					font-size: 0.9rem;
					/* padding: 0 5px; */
				}
				/*投注按鈕*/
				.bci_gray { 
					>span {
						color: #C30C0E;
						background: rgba(197, 0, 3, 0.0);
						cursor: pointer;
						padding: 2px;
						.transition (all 0.3s);
						&:hover {
							color: #fff;
							background:rgba(185, 0, 0, 0.7);
							
						}
					}
				}
			}
			&:hover {
				background: #F9FFC9;
				box-shadow: inset 0px 0px 6px 3px rgba(0, 0, 0, 0.5);
			}
			div.left{
				text-align: left;
			}
			div.right{
				text-align: right;
			}

			.bci_01 {
				width: 60px;
			}
			.bci_02 {
				width: 190px;
				.b01, .b02 {
					padding: 0 0 0 10px;
				}
				i {
					font-size: 1rem;
					padding: 3px 10px 0 0;
					color: #9A9A9A;
					text-shadow: 0px 2px 0px #fff;
					cursor: pointer;
					.transition (all 0.3s);
					&:hover {
						color: #C50003;
					}
				}
			}
			.bci_03 {
				width: 125px;
				.b01 {
					padding: 0 0 0 10px;
				}
			}
			.bci_04 {
				width: 140px;
			}
			.bci_05 {
				width: 80px;
			}
			.bci_06 {
				width: 70px;
			}
			.bci_07 {
				width: 100px;
			}
			.bci_08 {
				width: 130px;
			}
			.bci_09 {
				width: 90px;
			}
			.bci_10 {
				width: 50px;
				border-right: 0px solid #fff;
			}
		}
		.next {
			background: rgba(245, 245, 245, 1);
			cursor: pointer;
			>div {}
			&:hover {
				background: #F9FFC9;
				box-shadow: inset 0px 0px 6px 3px rgba(0, 0, 0, 0.5);
			}	
		}
	}
}
/*尚未開賽表格 結束*/
