@import 'commons.less';

.ball_title {
	margin: 0 0 0 8px;
	/*上方功能選單區*/
	.bt_func {
		>div {
			height: 24px;
			background: #EAEAEA;
			margin: 0 1px 0 0;
			text-align: center;
			cursor: pointer;
			.transition (all 0.5s);
			>span {
				line-height: 24px;
				font-size: 0.8rem;
				color: #000;
				padding: 0 5px;				
			}
			&:hover {
				background: #626C75;
				span {
					color: #fff;
				}
			}
		}
		/*沒有資訊的標頭*/
		.btf_none {
			height: 15px;
		}
		.bt_btn01 {
			width: 60px;
			span {}
		} 
		.bt_btn02 {
			width: 165px;
			.btn02_center {
				margin: 0 auto;
				width: 135px;
				position: relative;
				span:nth-child(1)  {
					position: absolute;
					line-height: 24px;
					font-size: 0.8rem;
					color: #000;
					top: 0px;
					left: 10px;
				}
				span:nth-child(2)  {
					position: absolute;
					line-height: 24px;
					font-size: 0.8rem;
					color: #ff0000;
					top: 0px;
					left: 110px;
				}
				i {
					position: absolute;
					top: -1px;
					left: 75px; 
					color: #000;
					.transition (all 0.2s) ;
				}
			}
			&:hover {
				background: #EAEAEA;
				.btn02_center {
					i {
						top: 1px;
						color: #008AFF;
					}
				}
			}
		}
		.bt_btn03 {
			/* width: 125px;
			position: relative;
			i{
				position: absolute;
				top: 2px;
				left: 20px;
				font-size: 1.2rem;
				.transition ( all 500ms ease);
				.transform ( translateY(0));
				&:hover {
					color: #ff0000;
					.transform ( rotate(90deg));
				}
			}
			span.nextpage {
				position: absolute;
				color: #000;
				top: 0px;
				left: 58px;
				color: #000;
				&:hover {
					color: #008AFF;
				}
			}
			&:hover {
				background: #EAEAEA;
				i {}
				span {}
			} */
		}
		.bt_btn04 {
			width: 222px;
			&:hover {
				background: #EAEAEA;
			}
		}
		.bt_btn05 {
			width: 100px;
		}
		.bt_btn06 {
			width: 110px;
			position: relative;
			span {
				position: absolute;
				left: 35px;
			}
			i{
				position: absolute;
				left: 10px;
			}
			&:hover {
				i{
					color: #fff;
				}
			}
		}
		.bt_btn07 {
			width: 110px;
			position: relative;
			span {
				position: absolute;
				left: 35px;
			}
			i{
				position: absolute;
				left: 10px;
			}
			&:hover {
				i{
					color: #fff;
				}
			}
		}
		.bt_btn08 {
			width: 120px;
		}
		.bt_btn09 {
			width: 120px;
		}
	}
	/*標題名稱*/
	.bt_name {
		.triangle_left {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 8px 5px 0;
			border-color: transparent #7a7a7a transparent transparent;
		}
		.triangle_left_no {
			width: 20px;
		}
		.name_bar01 {
			width: 1000px;
			height: 20px;
			background: rgba(255, 161, 95, 1);
			span {
				font-size: 0.9rem;
				padding: 0 0 0 20px;
				line-height: 20px;
				color: #000;
			}
		}
		.triangle_right {
			width: 0;
			height: 0;
			border-style: solid;
			border-width:5px 8px 0px 0;
			border-color: #7a7a7a transparent transparent transparent;
		}
		.triangle_right_no {
			width: 20px;
		}
		/*下方*/
		/* .name_bar02 {
			width: 1000px;
			height: 20px;
			margin: 0 0 0 8px;
			background: rgba(255, 161, 95, 1);
			border-top: 1px solid #fff;
			span {
				font-size: 0.9rem;
				padding: 0 0 0 20px;
				line-height: 20px;
				color: #000;
			}
		} */
	}
}