.transition (@setting) {
	-webkit-transition: @setting;
	-ms-transition: @setting;
	transition: @setting;
}
.transform (@setting) {
	-webkit-transform: @setting;
	-ms-transform: @setting;
	transform: @setting;
}

/*預設*/
body {
	font-family: "微軟正黑體";
}
ul {
	margin: 0;
	padding: 30px; 

}

/**/
.side_group {
	width: 255px;
	height: 100%;
	background: #3c4044;
	.game_menu {
		/* background: #fff; */
		width: 100%;
		padding: 8px 0;
		.gm_title {
			background: url(../images/game_menu/gm_title.png) no-repeat top center; 
			width: 238px;
			height: 55px;
			margin: 0 auto;
		}
		.gm_menu {
			width: 238px;
			height: 100px;
			margin: 10px auto;
			box-shadow:0px 4px 12px 2px rgba(0,0,0,0.8);
			.gm_menu_bg {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#878e98+1,565d62+2,4e5459+50,474c50+51,3f4347+97,3f4347+98,33373d+99 */
				background: #878e98; /* Old browsers */
				background: -moz-linear-gradient(top, #878e98 1%, #565d62 2%, #4e5459 50%, #474c50 51%, #3f4347 97%, #3f4347 98%, #33373d 99%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, #878e98 1%,#565d62 2%,#4e5459 50%,#474c50 51%,#3f4347 97%,#3f4347 98%,#33373d 99%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, #878e98 1%,#565d62 2%,#4e5459 50%,#474c50 51%,#3f4347 97%,#3f4347 98%,#33373d 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878e98', endColorstr='#33373d',GradientType=0 ); /* IE6-9 */
				height: 33px;
				cursor: pointer;
				.gm_name {
					box-shadow:inset 0px -1px 0px 0px rgba(51, 55, 61, 1),inset -1px 0px 0px 0px rgba(124, 124, 124, 1),inset 0px 1px 0px 0px rgba(135, 142, 152, 1);
					.icon_box {
						.name_icon {
							background: url(../images/game_menu/menu_icon.png) no-repeat;
							width: 23px;
							height: 23px;
							margin: 5px auto;
						}
						.baseball {
							background-position: 0 0; 
							/* &:hover {
								background-position: -23px 0px;
							} */
						}
					}
					span {
						color:#fff;
						line-height: 33px;
						font-size:1rem;
						text-shadow: 1px 2px 1px rgba(0,0,0,1);
						letter-spacing: 10px;
					}
				}
				.gm_number {
					box-shadow:inset 0px -1px 0px 0px rgba(51, 55, 61, 1),inset 1px 0px 0px 0px rgba(0, 0, 0, 1),inset 0px 1px 0px 0px rgba(135, 142, 152, 1);
					.number_bg {
						width: 25px;
						height: 25px;
						border-radius: 25px;
						background: #657180;
						margin: 3px auto;
						box-shadow:inset 0px 0px 10px 3px rgba(0, 0, 0, 0.6),inset 0px 0px 2px 1px rgba(0, 0, 0, 1),  0px 0px 0px 2px rgba(84, 91, 96, 1);
						text-align: center;
						span {
							color: #fff;
							line-height: 26px;
							font-size: 0.8rem;
							text-shadow: 1px 2px 1px rgba(0,0,0,1);
						}
					}
				}
				&:hover {
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#44c6eb+0,30a7e0+100 */
					background: #44c6eb; /* Old browsers */
					background: -moz-linear-gradient(top, #44c6eb 0%, #30a7e0 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top, #44c6eb 0%,#30a7e0 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom, #44c6eb 0%,#30a7e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44c6eb', endColorstr='#30a7e0',GradientType=0 ); /* IE6-9 */
					.gm_name {
						box-shadow:inset 0px -1px 0px 0px rgba(51, 55, 61, 1),inset -1px 0px 0px 0px rgba(146, 227, 255, 1),inset 0px 1px 0px 0px rgba(202, 241, 255, 1);
						.icon_box {
							.baseball {
								background-position: -23px 0px;
							}
						}
					}
					.gm_number {
						box-shadow:inset 0px -1px 0px 0px rgba(51, 55, 61, 1),inset 1px 0px 0px 0px rgba(0, 83, 141, 1),inset 0px 1px 0px 0px rgba(202, 241, 255, 1);
						.number_bg {
							background: #2a90c9;
							box-shadow:inset 0px 0px 10px 3px rgba(0, 0, 0, 0.6),inset 0px 0px 2px 1px rgba(3, 46, 172, 1),  0px 0px 0px 2px rgba(19, 184, 222, 1);
						}
					}
					
				}
			}
		}
		.gm_livebet {}
	}
}
