

// @import "common.less";
@import 'login.less'; /*登入頁面*/
@import 'reset.css'; 
@import 'game_menu.less'; /*球類選單*/
@import 'new_list.less'; /*最新下注-即時*/
@import 'bet_info.less'; /*讓分投注勾選單*/
@import 'demo.less'; /*背景輪播*/
@import 'logo.less'; /*logo+時區區塊*/
@import 'account_info.less'; /*帳戶點數區*/
@import 'topmenu.less'; /*上方選單區塊*/
@import 'index_demo.less'; /*內頁主畫面*/



/* .animation (@name; @animation; @styles) {
    -webkit-animation:  @name @animation;
    -moz-animation: @name @animation;
    animation: @name  @animation;

    @-moz-keyframes @name { @styles(); }
    @-webkit-keyframes @name { @styles(); }
    @keyframes @name { @styles(); }
    
} */




/* .animation (@name; @animation; @styles) {
    -webkit-animation:  @animation;
    -moz-animation: @animation;
    animation: @animation;

    @-moz-keyframes @name { @styles(); }
    @-webkit-keyframes @name { @styles(); }
    @keyframes @name { @styles(); }
}
 */




/* html {
	padding: 0;
	

	:hover {
		padding: 5px;

		.animation (
			in-html,
			in-html 5s ,
			{
				0% { 
					padding: 0; 
				}
				20% { 
					padding: 5px; 
				}
				100% {
					padding: 0;
				}
			}

		);

	}



} */


