/* @import 'commons.less'; */


/*內容區塊*/
.main_content {
    width: 100%;
   .main_center {
        width: 1280px;
        margin: 0 auto;
        .top {
            position: fixed;
            height: 84px;
            .topbg {
                height: 63px;
                background: rgba(255, 255, 255, 0.3);
                /*跑馬燈*/
                marquee {
                    color: #fff ;
                    font-size: 0.8rem;
                }
            }
        }
        .box {
            position: fixed;
            top: 84px;
            .box_left {
                background: rgba(255, 255, 255, 0.3);
                /*左側-滾動區塊*/
                .box_scoll {
                    margin: 8px 0 0 0;
                    height: 780px;
                    overflow-y: scroll;
                    &::-webkit-scrollbar {
                        width: 2px;
                    }
                    &::-webkit-scrollbar-track {
                        background-color: rgba(0, 0, 0, 0.5);
                        height: 0px;
                    }
                    &::-webkit-scrollbar-thumb { /*拉把*/
                        background-color: rgba(62, 202, 255, 1);
                    }
                    &::-webkit-scrollbar-button {
                        background-color: rgba(0, 0, 0, 0.5);
                        height: 0px;
                    }
                    &::-webkit-scrollbar-corner {
                        background-color: rgba(0, 0, 0, 0.5);
                    } 
                }
            }
            .box_right {
                /*上方選單*/
                balltitle {}
                /*走地中-表格*/
                ballcontent01 {
                }
                /*尚未開賽-表格*/
                ballcontent02 {
                     margin: 20px 0 0 0;
                }
            }
        }
   }
}
/*內容區塊 END*/
