@import 'commons.less';

/*預設*/
body {
	font-family: monospace,Arial,Helvetica,sans-serif,"微軟正黑體";
}
ul {
	margin: 0;
	padding: 30px; 

}

/*左邊最新下注區塊*/
.new_list_group {
	width: 255px;
	min-height: 100vh;
	height: auto;
	background: #3c4044;
	/*上方按扭區*/
	.nl_btn_box {
		width: 100%;
		padding: 8px 8px;
		/*共用按鈕*/
		.nl_btn {
			padding: 0 6%;
			height: 30px;
			background: #ffab41;
			border-bottom: 5px solid #a0661a;
			text-align: center; 
			margin: 0 1px;
			line-height: 30px;
			font-size: 1rem;
			color: #fff;
			cursor: pointer;
			&:hover {}
		}
		/*等待中*/
		.wait {}
		/*作廢*/
		.useless {}
		/*最新注單*/
		.newlist {}
	}
	/*下方資訊區*/
	.nl_info_box {
		/*刷新按鈕*/
		.nl_refresh {}
		/*注單資訊*/
		.nl_info {
			/*無注單*/
			.info_none {
				span {}
			}
			/*注單列表*/
			.info_new {
				.info_text {
					div {}
					span {
						a {}
					}
				}
			}
		}
	}
}
