

<div layout="column" layout-fill ng-controller="pageLogin" class="login_bg">
	<md-content flex layout-padding >
		<div layout="row" class="top" >
			<!--上方選單-->
			<div layout="row" class="top_menu">
				<div class="nav_icon hamburger">
					<span class="first"></span>
				    <span class="second"></span>
				    <span class="third"></span>
				</div>
			</div>
		
			
			<!-- <div flex hide-xs layout="row" class="top_main_menu" >
				<div class="main_menu"  layout-align="center" >
					<div class="menu_ac menu_live">
						<div>真人</div>
					</div>
					<div class="menu_ac menu_game">
						<div>遊戲</div>
					</div>
					<div class="menu_ac menu_ssc">
						<a><div>六合</div>六合</a>
					</div>
					<div class="menu_ac menu_bingo">
						<a><div>賓果</div>賓果</a>
					</div>
				</div>
			</div> -->

			<div flex hide-xs layout="row" class="top_main_menu" >
				<div class="main_menu"  layout-align="center" >
					<div class="menu_ac menu_live">
						<a><div>真人</div>真人</a>
					</div>
					<div class="menu_ac menu_game">
						<a><div>遊戲</div>遊戲</a>
					</div>
					<div class="menu_ac menu_ssc">
						<a><div>六合</div>六合</a>
					</div>
					<div class="menu_ac menu_bingo">
						<a><div>賓果</div>賓果</a>
					</div>
				</div>
			</div>
		</div>
			
			<!-- <div class="a1" style="overflow: hidden; width:100px;height:20px; color:#fff; margin-:200px;">
				<a><div >123</div>123</a>
			</div>
			 -->
	
		<!--上方選單 end-->
		<!--中間登入區-->
		<div layout="row" layout-padding class="login_main">
			<div flex flex-xs="5"> </div>
			<!--登入區-->
			<div flex="30" flex-md="40" flex-sm="60" flex-xs="100" layout="column" layout-align="center center" class="login_group" >
				<div layout="row" layout-xs="column" class="login_box" >
					<!--登入區 左--><!--左邊input-->
					<div flex flex-gt-xs="100" class="log_box01"> 
						<div flex class="user_box">
							<input type="text" required>
							<label>帳號</label>
							<!-- <input ng-model="inputid" required>
							<label>帳號</label> -->
							
						</div>
						<div flex class="pw_box">
							<input type="password" required>
							<label>密碼</label>
							<!-- <input ng-model="inputpw" required>
							<label>密碼</label> -->
							
						</div>
					</div>
					<!--登入區 右--><!--右邊按鈕-->
					<div flex flex-gt-xs="100" class="log_box02">
						<div class="check_box01"> 
							<md-checkbox ng-model="data.cb1" aria-label="Checkbox 1" class="md-checkbox">
								<span>記住我的密碼</span>
							</md-checkbox>
						</div>
						<div class="login_btn01" layout-align="center">
							<div class="btn_group01" >
								<span class="btn_text">立即登入</span>
								<div class="btn_icon">
									<i class="material-icons">arrow_forward</i>
									<span>ENTER</span>
								</div>
								<!-- <div class="md-ripple-container"></div> -->
							</div>
						</div>
					</div>
				</div>

				<!-- <md-button class="md-raised md-primary" ng-click="login()">登入</md-button>
				<md-button>>回電腦版登入</md-button> -->
			</div>
			<div flex flex-xs="5"> </div>
		</div>
		<!--中間登入區 end-->
		<!--中間客戶LOGO-->
		<div layout="row" layout-padding class="partner_box">
			<div flex></div>
			<div flex-lg="25" flex-md="30" flex-sm="50" flex-xs="80" class="partner_logo"></div>
			<div flex></div>
		</div>
		<!--中間客戶LOGO end-->
		<!--底部合作廠商-->
		<div layout="row" layout-padding class="cooperate_box">
			<!-- <div class="a1" style="overflow: hidden; width:100px;height:20px; color:#fff; margin-:200px;">
				<a><div >123</div>123</a>
			</div> -->
			<div flex></div>
			<div flex-sm="80" flex-xs="90" class="cooperate_logo"></div>
			<div flex></div>
		</div>
		<!--底部合作廠商 end-->
	</md-content>
</div>