

<!-- <div >
	<div layout="column" layout-fill ng-controller="pageLogin" >
		<md-toolbar>
			<div class="md-toolbar-tools md-whiteframe-z2" layout="row" layout-align="center center">
				LOGO
			</div>
		</md-toolbar>
		<md-content flex layout-padding class="web_bg">
			<div layout="row" layout-padding>
				<div flex> </div>
				<div layout="column" layout-align="center center" class="md-whiteframe-4dp" style="background-color: #f0f0f0">
					<md-input-container>
						<label>帳號</label>
						<input ng-model="inputid" required>
					</md-input-container>
					<md-input-container>
						<label>密碼</label>
						<input ng-model="inputpw" required>
					</md-input-container>
					<md-button class="md-raised md-primary" ng-click="login()">登入</md-button>
					<md-button>>回電腦版登入</md-button>
				</div>
				<div flex> </div>
			</div>
		</md-content>
	</div>
</div> -->
<div layout="column" layout-fill ng-controller="pageLogin" class="login_bg">
	<md-content flex layout-padding >
		<!--上方選單-->
		<div layout="row" class="top_menu">
			<div flex="10" class="nav_icon hamburger">
				<span class="first"></span>
			    <span class="second"></span>
			    <span class="third"></span>
			</div>
			<div flex="10" class="nav_icon arrow">
				<span class="first"></span>
			    <span class="second"></span>
			    <span class="third"></span>
			</div>
			<div layout="row" flex layout-align="center">
				<div class="main_menu">
					<div class="menu_live">真人</div>
					<div class="menu_game">遊戲</div>
					<div class="menu_ssc">六合</div>
					<div class="menu_bingo">賓果</div>
				</div>
			</div>
			<div flex="10"></div>
		</div>
		<!--上方選單 end-->
		<!--中間登入區-->
		<div layout="row" layout-padding class="login_box">
			<div flex> </div>
			<div layout="column" layout-align="center center" class="md-whiteframe-4dp" >
				<md-input-container>
					<label>帳號</label>
					<input ng-model="inputid" required>
				</md-input-container>
				<md-input-container>
					<label>密碼</label>
					<input ng-model="inputpw" required>
				</md-input-container>
				<md-button class="md-raised md-primary" ng-click="login()">登入</md-button>
				<md-button>>回電腦版登入</md-button>
			</div>
			<div flex> </div>
		</div>
		<!--中間登入區 end-->
		<!--底部合作廠商-->
		<div layout="row" layout-padding>
			
		</div>
		<!--底部合作廠商 end-->
	</md-content>
</div>